{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'email/email.html.twig' %}

{% block content %}
	
	<p>Hello {{ user.username }}</p>

	<p>You watch the {{ site.title }}, and changes have been made.</p>
	
	{% for historyItem in histories %}
		{% if historyItem is eventhistory %}
			{% include 'email/common/eventHistoryItem.html.twig' %}
		{% elseif historyItem is grouphistory %}
			{% include 'email/common/groupHistoryItem.html.twig' %}</li>
		{% elseif historyItem is venuehistory %}
			{% include 'email/common/venueHistoryItem.html.twig' %}
		{% endif %}		
	{% endfor %}
	
	<p>To see <a href="{{ config.getWebSiteDomainSecure(site.slug) }}/history">the full history, click here</a>.</p>
		
	<p>Thanks,<br>
	{{ config.siteTitle }}</p>
		
	<p>ps. 
		To <a href="{{ unsubscribeURL }}">change which emails you get, click here</a>.
		 To <a href="{{ config.getWebSiteDomainSecure(site.slug) }}/stopWatchingFromEmail/{{ user.id }}/{{ stopCode }}">stop watching {{ site.title }} click here</a>.</p>

{% endblock %}
