{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Group {{  group.title }} - {% endblock %}

{% block content %}


	<table class="oneData">
		<tr>
			<th>ID</th>
			<td>{{ group.id }}</td>
		</tr>
		<tr>
			<th>Slug</th>
			<td>{{ group.slug }}</td>
		</tr>
		<tr>
			<th>Deleted</th>
			<td>{% if group.isDeleted %}Deleted{% else %}-{% endif %}</td>
		</tr>
		<tr>
			<th>Is Duplicate of</th>
			<td>{% if group.isDuplicateOfId %}<a href="/sysadmin/site/{{ site.id }}/group/{{ groupisduplicateof.slug }}/">{{  groupisduplicateof.title }}</a>{% else %}-{% endif %}</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>{{ group.title }}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{ group.description | nl2br }}</td>
		</tr>
		<tr>
			<th>More</th>
			<td>
				<ul>
					<li><a href="/sysadmin/site/{{ site.id }}/group/{{ group.slug }}/watchers">Watchers</a></li>
					<li><a href="{{  config.getWebSiteDomainSecure(site.slug) }}/group/{{  group.slugForURL }}" target="_blank">View On Site</a></li>
				</ul>
			</td>
		</tr>		
	</table>

	{%  include 'sysadmin/common/sysadminCommentsList.html.twig' %}

	<form action="#" method="post" class="action">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<input type="submit" name="Do Action" />
	</form>

	<ul class="actionHelp">
		<li>delete</li>
		<li>undelete</li>
		<li>isduplicateof <span class="param">SLUG</span></li>
		<li>purge <span class="param">password</span></li>
	</ul>

{% endblock %}

