{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Create - {% endblock %}

{% block content %}
	
	<form action="#" method="post" class="styled">
		{{ form_errors(form) }}

		{{ form_row(form.title) }}

		<div class="rowWrapper">
			<div class="errorsWrapper">{{ form_errors(form.slug) }}</div>
			<div class="labelWrapper">{{ form_label(form.slug) }}</div>
			<div class="widgetWrapperPlacementOnly smallInputs">http://{{ form_widget(form.slug) }}.{{ config.webSiteDomain }}</div>
			<div class="after"></div>
		</div>
			
		{{ form_row(form.read) }}
		{{ form_row(form.write) }}


		{{ form_rest(form) }}

		<p class="information">Note the address can not be changed later! Everything else can.</p>

		<input type="submit" name="submit" value="Create New Calendar Now" />
	</form>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/js/createSite.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

