{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Config - {% endblock %}

{% block content %}

	<table class="oneData">
		<tr>
			<th>importLimitToSaveOnEachRunImportedEvents</th>
			<td>{{ config.importLimitToSaveOnEachRunImportedEvents }}
				{% include 'sysadmin/config/index.configcheck.html.twig' with {'field':'importLimitToSaveOnEachRunImportedEvents'} %}
			</td>
		</tr>
		<tr>
			<th>importLimitToSaveOnEachRunEvents</th>
			<td>{{ config.importLimitToSaveOnEachRunEvents }}
				{% include 'sysadmin/config/index.configcheck.html.twig' with {'field':'importLimitToSaveOnEachRunEvents'} %}
			</td>
		</tr>
		<tr>
			<th>importExpireSecondsAfterLastEdit</th>
			<td>{{ config.importExpireSecondsAfterLastEdit }}
				({{ (config.importExpireSecondsAfterLastEdit / 60) | round (0,'floor') }} mins)
				({{ (config.importExpireSecondsAfterLastEdit / 60/60) | round (0,'floor') }} hours)
				({{ (config.importExpireSecondsAfterLastEdit / 60/60/24 )| round (0,'floor') }} days)
				{% include 'sysadmin/config/index.configcheck.html.twig' with {'field':'importExpireSecondsAfterLastEdit'} %}
			</td>
		</tr>
		<tr>
			<th>importSecondsBetweenImports</th>
			<td>{{ config.importSecondsBetweenImports }}
				({{ (config.importSecondsBetweenImports / 60) | round (0,'floor') }} mins)
				({{ (config.importSecondsBetweenImports / 60/60) | round (0,'floor') }} hours)
				({{ (config.importSecondsBetweenImports / 60/60/24 )| round (0,'floor') }} days)
				{% include 'sysadmin/config/index.configcheck.html.twig' with {'field':'importSecondsBetweenImports'} %}
			</td>
		</tr>
		<tr>
			<th>importAllowEventsSecondsIntoFuture</th>
			<td>{{ config.importAllowEventsSecondsIntoFuture }}
				({{ (config.importAllowEventsSecondsIntoFuture / 60) | round (0,'floor') }} mins)
				({{ (config.importAllowEventsSecondsIntoFuture / 60/60 )| round (0,'floor') }} hours)
				({{ (config.importAllowEventsSecondsIntoFuture / 60/60/24 )| round (0,'floor') }} days)
				{% include 'sysadmin/config/index.configcheck.html.twig' with {'field':'importAllowEventsSecondsIntoFuture'} %}
			</td>
		</tr>
	</table>

{% endblock %}

