{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %} 

{% block htmlHeader %}
	{% include 'site/common/mapLibrary.css.html.twig' %}
{% endblock %}

{% block innerContent %}
	
	<p>Please set a Venue.</p>

	<form id="CountriesForm" action="" method="post" class="styled">
		<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
		<input type="hidden" name="submitted" value="yes">

		<div id="Map" class="fullWidth"></div>
		
		<div class="rowWrapper">
			<div class="labelWrapper">Country</div>
			<div class="widgetWrapperPlacementOnly">{{ country.title }}</div>
			<div class="after"></div>
		</div>
		
		<div class="rowWrapper">
			<div class="labelWrapper">&nbsp;</div>
			<div class="widgetWrapperPlacementOnly">
				<ul id="ChangeEventAreaList">
					{% if parentAreas is defined %}
						{% for parentArea in parentAreas %}
							<li class="selectedarea">
								<span class="content">
									<span class="title">{{ parentArea.title }}</span>
									<a href="#" onclick="removeArea(this); return false;" class="remove">X</a>
								</span>
								<input type="hidden" name="areas[]" value="EXISTING:{{ parentArea.slug }}">
							</li>
						{% endfor %}
					{% endif %}
					{% if area is defined and area %}
						<li class="selectedarea">
							<span class="content">
								<span class="title">{{ area.title }}</span>
								<a href="#" onclick="removeArea(this); return false;" class="remove">X</a>
							</span>
							<input type="hidden" name="areas[]" value="EXISTING:{{ area.slug }}">
						</li>
					{% endif %}
					{% if childAreas is defined and childAreas %}
						<li class="selectArea">
							<ul class="areas">
								{% for childArea in childAreas %}
									<li class="area"><span class="content"><a href="#" onclick="existingAreaChoosen({{ childArea.slug }}); return false;">{{ childArea.title }}</a></span><span class="aftercontent">&nbsp;</span></li>
								{% endfor %}
								<li class="area"><span class="content"><a href="#" onclick="newAreaChoosen(); return false;">Create new</a></span><span class="aftercontent">&nbsp;</span></li>
							</ul>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="after"></div>
		</div>


		
		<div class="rowWrapper">
			<div class="labelWrapper">Venues</div>
			<div class="widgetWrapperPlacementOnly">
				<ul id="ChangeEventVenueList" class="selectvenue">
					
				</ul>
			</div>
			<div class="after"></div>
		</div>
		
		<input type="submit"  value="Save" />	
	</form>

{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		{% if area and area.cachedMinLat and area.cachedMaxLat and area.cachedMinLng and area.cachedMaxLng %}
			var mapData = { lat: null, lng:null, min_lat:{{ area.cachedMinLat }}, max_lat:{{ area.cachedMaxLat }}, min_lng: {{ area.cachedMinLng }}, max_lng:{{ area.cachedMaxLng }} };
		{% else %}
			var mapData = { lat: null, lng:null, min_lat:null, max_lat:null, min_lng: null, max_lng:null };
		{% endif %}
		var currentCountryID = "{{ country.twoCharCode}}";
		var currentVenueSlug = {% if venue %}{{ venue.slug }}{% else %}null{% endif %};
	</script>
	{% include 'site/common/mapLibrary.js.html.twig' %}
	<script type="text/javascript" src="/js/eventvenueform.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

