{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}History of changes of {{ event.summaryDisplay }} - {% endblock %} 


{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}
	
{% block tabHistory %}currentTab{% endblock %}

{% block innerContent %}


	<ul class="history">
		{% for eventHistory in eventHistories %}
			{# we don't use common template here because we want more detail than normal #}
			<li class="event">
				{% if eventHistory.isdeleted %}
					<div class="dateTimeIcon">
						<div class="dateIcon">
							<span class="deleted">Deleted!</span>
						</div>
					</div>
				{% else %}
					<div class="dateTimeIcon">
						<time datetime="{{ eventHistory.getStartAt|tolocaltimeformatted('c', currentTimeZone) }}">
							<a href="/event/{{ eventHistory.eventSlug }}">
								<div class="dateIcon">
									<span class="startDay">{{ eventHistory.getStartAt|tolocaltimeformatted('D', currentTimeZone) }}</span>
									<span class="startDate">{{ eventHistory.getStartAt|tolocaltimeformatted('jS', currentTimeZone) }}</span>
									<span class="startMonthYear">{{ eventHistory.getStartAt|tolocaltimeformatted('M \'y', currentTimeZone) }}</span>
								</div>
								<div class="timeIcon">
									<span class="startTime">{{ eventHistory.getStartAt|tolocaltimeformatted12or24hourclock('g:ia', 'H:i', currentUserClock12Hour, currentTimeZone) }}</span>
								</div>
							</a>
						</time>				
					</div>
				{% endif %}
				<div class="title">{{ eventHistory.summaryDisplay }}</div>
				{% if eventHistory.isAnyChangeFlagsUnknown %}
					<div>{{ eventHistory.description | nl2br  }}</div>
				{% else %}
					{% if eventHistory.getSummaryChanged %}
						<div class="fieldChanged">
							<div class="field">Summary changed:</div>
							<div class="value">{{ eventHistory.summary }}</div>
						</div>
					{% endif %}
					{% if eventHistory.getDescriptionChanged %}
						<div class="fieldChanged">
							<div class="field">Description changed:</div>
							<div class="value">{{ eventHistory.description | nl2br }}</div>
						</div>
					{% endif %}
					{% if eventHistory.getUrlChanged %}
						<div class="fieldChanged">
							<div class="field">URL changed:</div>
							<div class="value">{{ eventHistory.url }}</div>
						</div>
					{% endif %}
					{% if eventHistory.getStartAtChanged %}
						<div class="fieldChanged">
							<div class="field">Start changed:</div>
							<div class="value">{{ eventHistory.startAt |tolocaltimeformatted12or24hourclock('D jS M Y g:ia', 'D jS M Y H:i', currentUserClock12Hour, eventHistory.timezone) }} ({{ eventHistory.timezone }})</div>
						</div>
					{% endif %}
					{% if eventHistory.getEndAtChanged %}
						<div class="fieldChanged">
							<div class="field">End changed:</div>
							<div class="value">{{ eventHistory.endAt |tolocaltimeformatted12or24hourclock('D jS M Y g:ia', 'D jS M Y H:i', currentUserClock12Hour, eventHistory.timezone)}} ({{ eventHistory.timezone }})</div>
						</div>
					{% endif %}
					{% if eventHistory.getCountryIdChanged %}
						<div class="fieldChanged">
							<div class="field">Country changed:</div>
							<div class="value">changed{# TODO #}</div>
						</div>
					{% endif %}
					{% if eventHistory.getTimezoneChanged %}
						<div class="fieldChanged">
							<div class="field">Timezone changed:</div>
							<div class="value">{{ eventHistory.timezone }}</div>
						</div>
					{% endif %}
					{% if eventHistory.getAreaIdChanged %}
						<div class="fieldChanged">
							<div class="field">Area changed:</div>
							<div class="value">changed{# TODO #}</div>
						</div>
					{% endif %}
					{% if eventHistory.getVenueIdChanged %}
						<div class="fieldChanged">
							<div class="field">Venue changed:</div>
							<div class="value">changed{# TODO #}</div>
						</div>
					{% endif %}
					{% if eventHistory.getIsVirtualChanged %}
						<div class="fieldChanged">
							<div class="field">Is Virtual changed:</div>
							<div class="value">{% if eventHistory.isVirtual %}Yes{% else %}No{% endif %}</div>
						</div>
					{% endif %}
					{% if eventHistory.getIsPhysicalChanged %}
						<div class="fieldChanged">
							<div class="field">Is Physical changed:</div>
							<div class="value">{% if eventHistory.isPhysical %}Yes{% else %}No{% endif %}</div>
						</div>
					{% endif %}
					{% if eventHistory.getIsDeletedChanged %}
						<div class="fieldChanged">
							<div class="field">Status changed:</div>
							<div class="value">{% if eventHistory.getIsDeleted %}Deleted!{% else %}Restored!{% endif %}</div>
						</div>
					{%endif %}
				{% endif %}
				<div class="created">
					Edited at 
					<time datetime="{{ eventHistory.getCreatedAt|tolocaltimeformatted('c', currentTimeZone) }}">
						{{ eventHistory.getCreatedAt|tolocaltimeformatted12or24hourclock('D jS M Y g:ia', 'D jS M Y H:i', currentUserClock12Hour, currentTimeZone) }}
					</time>	
					{% if eventHistory.userAccountID %}by {{  eventHistory.userAccountUserName }}{% endif %}
				</div>
				{% if currentUserCanEditSite and not event.isImported %}
					<a href="/event/{{ event.slugForUrl }}/rollback/{{ eventHistory.createdAtTimeStamp }}">Rollback to this</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

{% endblock %}

