{#
 # @package org.openacalendar.curatedlists
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block htmlHeader %}
	<link rel="stylesheet" type="text/css" href="/theme/default/css/curatedlists.css?v={{ config.assetsVersion }}">
	<meta name="openacalendar:curatedlist:slug" content="{{  curatedlist.slugForURL}}" />
{%  endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/curatedlist', 'label':'curated lists' } ,  { 'url':'/curatedlist/' ~ curatedlist.slugForUrl, 'label': curatedlist.title  } ]  } %}
{% endblock %}


{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar.curatedlists','CuratedList') %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>{{  curatedlist.title }}</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/curatedlist/{{ curatedlist.slug }}">Details &amp; Events</a></li>
			<li class="tab {% block tabCurators %}{% endblock %}"><a href="/curatedlist/{{ curatedlist.slugForUrl }}/curators">Curators</a></li>
			<li class="tab {% block tabGroups %}{% endblock %}"><a href="/curatedlist/{{ curatedlist.slugForUrl }}/groups">Groups</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = { curatedlist:{{ curatedlist.slug }}, curatedlistSlugURL:"{{ curatedlist.slugForURL|e('js') }}"  , curatedlistTitle:"{{ curatedlist.title|e('js') }}"  }</script>
{% endblock %}

