{#
 # @package org.openacalendar.curatedlists
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block htmlHeader %}
	<meta name="openacalendar:curatedlist:slug" content="{{  curatedlist.slugForURL}}" />
{%  endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/curatedlist">curated lists</a></li>
	<li class="current"><a href="/curatedlist/{{ curatedlist.slugForUrl }}">{{ curatedlist.title }}</a></li>
{% endblock %}


{% block content %}

	{% if not currentSite.isFeatureCuratedList %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>{{  curatedlist.title }}</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/curatedlist/{{ curatedlist.slug }}">Details</a></li>
			<li class="tab"><a href="/curatedlist/{{ curatedlist.slug }}/calendar">Calendar</a></li>
			<li class="tab {% block tabCurators %}{% endblock %}"><a href="/curatedlist/{{ curatedlist.slugForUrl }}/curators">Curators</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = { curatedlist:{{ curatedlist.slug }}, curatedlistSlugURL:"{{ curatedlist.slugForURL|e('js') }}"  , curatedlistTitle:"{{ curatedlist.title|e('js') }}"  }</script>
{% endblock %}

