{#
 # @package org.openacalendar.curatedlists
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/curatedlist/page2col.html.twig' %}


{% block pageTitle %}{{ curatedlist.title }} - {% endblock %} 


{% block tabDetails %}currentTab{% endblock %}
	
{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/curatedlist/{{ curatedlist.slug }}/" />
	{% if not currentSite.isWebRobotsAllowed or curatedlist.isDeleted %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	{{ parent() }}
{% endblock %}


{% block actions %}
	{% if actionCuratedListEditDetails %}
		<li class="action">
			<a href="/curatedlist/{{ curatedlist.slug }}/edit/details"><div class="iconPencilSmall"></div> edit</a>
		</li>
	{% endif %}
	<li class="action">
		<a href="/api1/curatedlist/{{ curatedlist.slug }}/events.ical" onclick="showExportPopup(); return false;">
			<div class="iconDownloadSmall"></div> export
		</a>
	</li>
	{% if currentSite.getIsWebRobotsAllowed %}
		<li class="action">
			<a href="#" onclick="showSharePopup(); return false;">
				<div class="iconShareSmall"></div> share
			</a>
		</li>
	{% endif %}
{% endblock %}


{% block innerContentLeft %}

	<p>{{ curatedlist.description | nl2br | linkify }}</p>

{% endblock %}

	
{% block innerContentRight %}

	{% include '/site/eventListFilterParams.html.twig' %}

	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
			{% if actionCuratedListEditContents %}
				<li class="info">
					{%  if event.isEventInCuratedList %}
						<form action="/curatedlist/{{ curatedlist.slug }}/event/{{ event.slug }}/remove" method="post">
							<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
							<input type="hidden" name="returnTo" value="curatedlist">
							<input type="submit" value="Remove Event">
						</form>
					{% endif %}
					{%  if event.inCuratedListGroupSlug %}
						<form action="/curatedlist/{{ curatedlist.slug }}/group/{{ event.inCuratedListGroupSlug }}/remove" method="post">
							<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
							<input type="hidden" name="returnTo" value="curatedlist">
							<input type="submit" value="Remove Group {{ event.inCuratedListGroupTitle | e('html_attr') }} ">
						</form>
					{% endif %}
				</li>
			{% endif %}
		{% else %}
			<li>
				No events found.
			</li>		
		{% endfor %}
	</ul>

{% endblock %}


{% block scripts %}
	<script src="/theme/default/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

	
