{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}




{% block pageTitle %}Cancel {{ event.summaryDisplay }} - {% endblock %}


{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}


{% block innerContent %}

	<div class="contentMain">

		{%  if currentUserActions.has("org.openacalendar","eventDelete") %}
			<h3>Cancel this event</h3>
			<p>If the event was going to happen but now isn't, mark it as cancelled so people who were going to attend will notice the cancellation.</p>
		{% endif %}

		<form action="#" method="post" class="styled">

			{{ form_errors(form) }}

			{{ form_row(form.agree) }}

			{%  include 'site/common/formRowEditComment.html.twig' with {'form': form} %}

			{{ form_rest(form) }}

			<div class="bigSubmitActionWrapper"><input type="submit"  value="Cancel" class="bigSubmitAction"/></div>
			<div class="afterBigSubmitActionWrapper"></div>
		</form>

		{%  if currentUserActions.has("org.openacalendar","eventDelete") %}

			<h3>Or you can delete?</h3>

			<p>If the event was a mistake, <a href="/event/{{ event.slugForUrl }}/delete">you can delete this event</a>.</p>
		{% endif %}

	</div>

{% endblock %}

