{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %} 

{% block htmlHeader %}
	{% include 'site/common/mapLibrary.css.html.twig' %}
	{{ parent() }}
{% endblock %}

{% block innerContent %}

	<p>Current Venue:</p>

	<div class="dateAndLocationWrapper">
		{% include 'site/common/eventLocationLine.html.twig' %}
	</div>

	{%  if venue %}{# TODO and edit venue user permission #}
		<form action="/venue/{{  venue.slugForURL }}/edit/details" class="oneActionFormRight" method="get">
			<input type="submit" value="Edit details of {{ venue.title|e('html_attr') }}">
		</form>
		<div class="afterOneActionFormRight"></div>
	{%  endif %}

	<p>{%  if venue %}Or change venue{%  else %}Search for a venue{%  endif %}</p>

	<form action="" method="get" class="styled" id="EditEventVenueForm">
		<input type="hidden" name="fieldsSubmitted" value="1">

		<div class="rowWrapper">
			<div class="labelWrapper">Venue Name</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="searchTitle"  id="TitleField" value="{{ searchTitle | e('html_attr') }}" autocomplete="off"></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Address</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="searchAddress"  id="AddressField" value="{{ searchAddress | e('html_attr')  }}" autocomplete="off"></div>
			<div class="after"></div>
		</div>

		{% if  doesCountryHaveAnyNotDeletedAreas %}
			<div class="rowWrapper">
				<div class="labelWrapper">City/Area</div>
				<div class="widgetWrapperPlacementOnly">
					<input type="text" name="searchArea"  id="AreaField" value="{{ searchArea | e('html_attr') }}" autocomplete="off">
					<ul id="AreaList">
						{%  for area in areas %}
							<li><label><input type="radio" name="searchAreaSlug" value="{{  area.slug  }}" {% if searchAreaObject and searchAreaObject.slug == area.slug %}checked="checked"{%  endif %}>{{  area.title }}</label></li>
						{%  endfor %}
					</ul>
				</div>
				<div class="after"></div>
			</div>
		{% endif %}

		<div class="rowWrapper">
			<div class="labelWrapper">Post Code</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="searchAddressCode"  id="AddressCodeField" value="{{ searchAddressCode | e('html_attr')  }}" autocomplete="off"></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Country</div>
			<div class="widgetWrapperPlacementOnly">{{ country.title }}</div>
			<div class="after"></div>
		</div>

		<div class="actionWrapperBig"><input type="submit" value="Search"></div>
	</form>



	<div class="innerPageLeft">
		<ul class="mainListVenues" id="EditEventVenueSearchResults">
			{% for venue in venues %}
				<li class="venue result">
					<form action="/event/{{  event.slugForURL }}/edit/venue/search" method="post" class="oneActionFormRight">
						<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
						<input type="hidden" name="venue_slug" value="{{  venue.slug }}">
						<input type="submit" value="Select {{ venue.title }}">
					</form>
					<div class="title">{{ venue.title }}</div>
					{%  if venue.address %}<div>{{  venue.address | nl2br }}</div>{%  endif %}
					{%  if venue.addressCode %}<div>{{  venue.addressCode }}</div>{%  endif %}
					<div class="afterOneActionFormRight"></div>
				</li>
			{% endfor %}
			<li class="venue" id="VenueNewWrapper" {%  if not venueSearchDone %}style="display:none;"{%  endif %}>
				<form action="/event/{{  event.slugForURL }}/edit/venue/new" class="oneActionFormRight" onsubmit="onSubmitNewVenue();">
					<input type="hidden" name="fieldTitle" value="{{ searchTitle | e('html_attr') }}">
					<input type="hidden" name="fieldAddress" value="{{ searchAddress | e('html_attr')  }}">
					<input type="hidden" name="fieldAddressCode" value="{{ searchAddressCode | e('html_attr')  }}">
					<input type="hidden" name="fieldAreaSearchText" value="{{ searchArea | e('html_attr') }}">
					<input type="hidden" name="fieldAreaSlug" value="{{ searchAreaSlug | e('html_attr')  }}">
					<input type="submit" value="New">
				</form>
				<div class="title">This is a new venue</div>
				<div class="afterOneActionFormRight"></div>
			</li>
			<li class="venue">
				<form action="/event/{{  event.slugForURL }}/edit/area" class="oneActionFormRight">
					<input type="submit" value="Not Known">
				</form>
				<div class="title">The exact venue is not known</div>
				<div class="afterOneActionFormRight"></div>
			</li>
		</ul>
	</div>


	<div class="innerPageRight hideIfOneCol">
		<div id="MapWrapper">
			<div id="Map" class="fullWidth"></div>
		</div>
	</div>

	<div class="afterInnerPageContent"></div>


{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		var countryMaxLat = {{  country.maxLat }};
		var countryMinLat = {{  country.minLat }};
		var countryMaxLng = {{  country.maxLng }};
		var countryMinLng = {{  country.minLng }};
		var countryID = "{{ country.twoCharCode}}";
		var currentEventSlug = "{{  event.slug }}";
		var CSFRToken = "{{ getCSFRToken() }}";
	</script>
	{% include 'site/common/mapLibrary.js.html.twig' %}
	<script type="text/javascript" src="/theme/default/js/eventedit.venue.search.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

