{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %}

{% block innerContent %}


	<p>Create a New Venue</p>

	<form action="" method="post" class="styled" id="NewVenueForm">
		<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">

		<div class="rowWrapper">
			<div class="labelWrapper">Name</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="fieldTitle"  id="TitleField" value="{{ fieldTitle | e('html_attr') }}"></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Address</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="fieldAddress"  id="AddressField" value="{{ fieldAddress | e('html_attr')  }}"></div>
			<div class="after"></div>
		</div>

		{% if  doesCountryHaveAnyNotDeletedAreas %}
			<div class="rowWrapper">
				<div class="labelWrapper">City/Area</div>
				<div class="widgetWrapperPlacementOnly" id="AreaFieldsWrapper">
					{% if fieldAreaObject is null %}
						<input type="text" name="fieldArea"  id="AreaField" value="{{ fieldArea | e('html_attr') }}">
						{% if areaSearchRequired and areas %}
							<ul class="formErrors">
								<li>Did you mean?</li>
							</ul>
							<ul>
								{%  for area in areas %}
									<li><label><input type="radio" name="fieldAreaSlug" value="{{  area.slug  }}">{{  area.title }}{%  if area.parent1title %}, {{ area.parent1title }}{%  endif %}</label></li>
								{%  endfor %}
								<li><label><input type="radio" name="fieldAreaSlug" value="-1">None of the above</label></li>
							</ul>
						{%  endif %}
					{% else %}
						{{  fieldAreaObject.title }}
						<a href="#" onclick="clearArea(); return false;">Clear</a>
						<input type="hidden" name="fieldAreaSlug" value="{{ fieldAreaObject.slug  }}">
					{%  endif %}
					{% if areaSearchRequired and childAreas %}
						<ul class="formErrors">
							<li>Can you be more exact? This helps people find events.</li>
						</ul>
						<ul>
							{%  for area in childAreas %}
								<li><label><input type="radio" name="fieldChildAreaSlug" value="{{  area.slug  }}">{{  area.title }}{%  if area.parent1title %}, {{ area.parent1title }}{% endif %}</label></li>
							{%  endfor %}
							<li><label><input type="radio" name="fieldChildAreaSlug" value="-1">None of the above</label></li>
						</ul>
					{%  endif %}
				</div>
				<div class="after"></div>
			</div>
		{%  endif %}

		<div class="rowWrapper">
			<div class="labelWrapper">Post Code</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="fieldAddressCode"  id="AddressCodeField" value="{{ fieldAddressCode | e('html_attr')  }}"></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Country</div>
			<div class="widgetWrapperPlacementOnly">{{ country.title }}</div>
			<div class="after"></div>
		</div>

		<div class="actionWrapperBig"><input type="submit" value="Save"></div>
	</form>



{% endblock %}


{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/eventedit.venue.new.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

