{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}




{% block pageTitle %}Edit Tags for {{ event.summaryDisplay }} - {% endblock %} 

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}


{% block innerContent %}

	<div class="innerPageRight">

	<h3>Current Tags</h3>

		<ul class="mainListTags">
			{% for tag in tags %}
				<li class="tag">
					<form method="post">
						<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
						<input type="hidden" name="removeTag" value="{{ tag.slug }}">
						<span class="tagTitleWrapper">{{ tag.title }}</a></span>
						<input type="submit" value="Remove Tag">
					</form>
					<p>{{ tag.description | nl2br | linkify }}</p>
				</li>
			{% else %}
				<li>
					This event has no tags.
				</li>
			{% endfor %}
		</ul>

		<form method="get" action="/event/{{ event.slugForURL }}">
			<input type="submit" value="OK, Finished editing!">
		</form>

	</div>


	<div class="innerPageLeft">

		<h3>Add other Tags</h3>

		<ul class="mainListTags">
			{% for tag in tagsToAdd %}
				<li class="tag">
					<form method="post">
						<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
						<input type="hidden" name="addTag" value="{{ tag.slug }}">
						<span class="tagTitleWrapper">{{ tag.title }}</span>
						<input type="submit" value="Add Tag">
					</form>
					<p>{{ tag.description | nl2br | linkify }}</p>
				</li>
			{% else %}
				<li>
					No tags found to add.
				</li>
			{% endfor %}
		</ul>

	</div>

	<div class="afterInnerPageContent"></div>

{% endblock %}

