{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %} 

{% block innerContent %}

	<p>Current Venue:</p>

	<div class="dateAndLocationWrapper">
		{% include 'site/common/eventLocationLine.html.twig' %}
	</div>

	<p>Filter list of venues.</p>

	<form action="" method="get" class="styled" id="EditEventVenueForm">

		<div class="rowWrapper">
			<div class="labelWrapper">Name</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="searchTitle"  id="TitleField" value="{{ searchTitle | e('html_attr') }}" autocomplete="off"></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Address</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="searchAddress"  id="AddressField" value="{{ searchAddress | e('html_attr')  }}" autocomplete="off"></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">City/Area</div>
			<div class="widgetWrapperPlacementOnly">
				<input type="text" name="searchArea"  id="AreaField" value="{{ searchArea | e('html_attr') }}" autocomplete="off">
				<ul id="AreaList">
					{%  for area in areas %}
						<li><label><input type="radio" name="searchAreaSlug" value="{{  area.slug  }}" {% if searchAreaObject and searchAreaObject.slug == area.slug %}checked="checked"{%  endif %}>{{  area.title }}</label></li>
					{%  endfor %}
				</ul>
			</div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Post Code</div>
			<div class="widgetWrapperPlacementOnly"><input type="text" name="searchAddressCode"  id="AddressCodeField" value="{{ searchAddressCode | e('html_attr')  }}" autocomplete="off"></div>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<div class="labelWrapper">Country</div>
			<div class="widgetWrapperPlacementOnly">{{ country.title }}</div>
			<div class="after"></div>
		</div>

		<div class="actionWrapperBig"><input type="submit" value="Search"></div>
	</form>

	<ul class="venues" id="EditEventVenueSearchResults">
		{% for venue in venues %}
			<li class="venue result">
				<div class="title">{{ venue.title }}</div>
				{%  if venue.address %}<div>{{  venue.address | nl2br }}</div>{%  endif %}
				{%  if venue.addressCode %}<div>{{  venue.addressCode }}</div>{%  endif %}
				<form action="/event/{{  event.slugForURL }}/edit/venue" method="post" class="styled">
					<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
					<input type="hidden" name="venue_slug" value="{{  venue.slug }}">
					<div class="actionWrapperBig"><input type="submit" value="Select {{ venue.title }}"></div>
				</form>
			</li>
		{% endfor %}
		<li class="venue" id="VenueNewWrapper" {%  if not venueSearchDone %}style="display:none;"{%  endif %}>
			<div class="title">This is a new venue</div>
			<form action="/event/{{  event.slugForURL }}/edit/venue/new" class="styled">
				<input type="hidden" name="fieldTitle" value="{{ searchTitle | e('html_attr') }}">
				<input type="hidden" name="fieldAddress" value="{{ searchAddress | e('html_attr')  }}">
				<input type="hidden" name="fieldArea" value="{{ searchArea | e('html_attr') }}">
				<input type="hidden" name="fieldAddressCode" value="{{ searchAddressCode | e('html_attr')  }}">
				<input type="hidden" name="fieldAreaSlug" value="{{ searchAreaSlug | e('html_attr')  }}">
				<div class="actionWrapperBig"><input type="submit" value="New"></div>
			</form>
		</li>
		<li class="venue">
			<div class="title">The exact venue is not known</div>
			<form action="/event/{{  event.slugForURL }}/edit/area" class="styled">
				<div class="actionWrapperBig"><input type="submit" value="Not Known"></div>
			</form>
		</li>
	</ul>

{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		var currentEventSlug = "{{  event.slug }}";
		var CSFRToken = "{{ getCSFRToken() }}";
	</script>
	<script type="text/javascript" src="/theme/default/js/eventedit.venue.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

