{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page2col.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %} 

{% block innerContentLeft %}
	What would you like to edit?	
{% endblock %}

{% block innerContentRight %}
	
	<ul class="actionList">
	
		<li><a href="/event/{{ event.slugForURL }}/edit/details"><div class="iconPencilSmall"></div> Edit Details</a></li>
	
		{% if currentSite.isFeaturePhysicalEvents %}
			<li><a href="/event/{{ event.slugForUrl }}/edit/venue"><div class="iconPencilSmall"></div> Edit Venue</a></li>
		{% endif %}

		{% if currentSite.isFeatureTag %}
			<li><a href="/event/{{ event.slugForUrl }}/edit/tags"><div class="iconPencilSmall"></div> Edit Tags</a></li>
		{% endif %}

		{% if currentSite.isFeatureGroup %}
			<li><a href="/event/{{ event.slugForUrl }}/edit/groups"><div class="iconPencilSmall"></div> Edit Groups</a></li>
		{% endif %}

	</ul>

{% endblock %}
