{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %}


{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}


{% block innerContent %}

	<p>Current Venue:</p>

	<div class="dateAndLocationWrapper">
		{% include 'site/common/eventLocationLine.html.twig' %}
	</div>

	<p>If this venue is wrong, you can remove it.</p>


	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.remove) }}

		{%  include 'site/common/formRowEditComment.html.twig' with {'form': form} %}

		{{ form_rest(form) }}

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Save" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>
	</form>


	<p><a href="/event/{{  event.slugForURL }}">The event is at this venue</a></p>
{% endblock %}
