{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page2col.html.twig' %}




{% block pageTitle %}Edit Groups for {{ event.summaryDisplay }} - {% endblock %} 


{% block innerContentLeft %}

	<h3>Groups</h3>
	
	<ul class="groups">
		{% for group in groups %}
			<li class="group">
				<div class="title"><a href="/group/{{ group.slugForUrl }}">{{ group.title }}</a></div>
				{{ group.description | truncate(200) | nl2br }}
				<form method="post">
					<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
					<input type="hidden" name="removeGroup" value="{{ group.slug }}">
					<input type="submit" value="Remove Event From Group">
				</form>
			</li>
		{% else %}
			<li>
				There are no groups.
			</li>								
		{% endfor %}
	</ul>

{% endblock %}
	
{% block innerContentRight %}

	<h3>Add to other Groups</h3>

	{% include '/site/groupListFilterParams.html.twig' %}
			
	<ul class="groups">
		{% for group in groupsToAdd %}
			<li class="group">
				<div class="title"><a href="/group/{{ group.slugForUrl }}">{{ group.title }}</a></div>
				{{ group.description | truncate(200) |  nl2br }}
				<form method="post">
					<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
					<input type="hidden" name="addGroup" value="{{ group.slug }}">
					<input type="submit" value="Add Event To Group">
				</form>
			</li>
		{% else %}
			<li>
				There are no groups.
			</li>								
		{% endfor %}
	</ul>

{% endblock %}

