{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %} 

{% block innerContent %}

	{# We don't client side validate any form with URL fields to get around UI/UX bug. See https://github.com/OpenACalendar/OpenACalendar-Web-Core/issues/221  #}
	<form action="#" method="post" class="styled" id="EditEventForm" novalidate="novalidate">

		{{ form_errors(form) }}

		{{ form_row(form.summary) }}
		{{ form_row(form.description) }}
		{{ form_row(form.url) }}
		{{ form_row(form.ticket_url) }}
		<div class="rowWrapper">
			<div class="labelWrapper">Date/Time</div>
			<div class="widgetWrapper" id="ReadableDateTimeRange">
			</div>
			<div class="after"></div>
		</div>
		{{ form_row(form.start_at) }}
		{{ form_row(form.end_at) }}
		{{ form_row(form.country_id) }}
		{{ form_row(form.timezone) }}
		{% if currentSite.isFeatureVirtualEvents %}
			{#  if both are an option, user must check which one.  #}
			{% if currentSite.isFeaturePhysicalEvents %}
				{{ form_row(form.is_virtual) }}
			{% endif %}
			{# Secondly, any options for virtual events? ... nope #}
		{% endif %}
		{% if currentSite.isFeaturePhysicalEvents %}
			{#  if both are an option, user must check which one.  #}
			{% if currentSite.isFeatureVirtualEvents %}
				{{ form_row(form.is_physical) }}
			{% endif %}
			{# Secondly, any options for physical events? #}
			<div id="physicalEventOptions">
				
			</div>
		{% endif %}

		{%  for customField in formCustomFields %}
			{{ form_row(form['custom_' ~ customField.key]) }}
		{%  endfor %}

		{%  include 'site/common/formRowEditComment.html.twig' with {'form': form} %}

		{{ form_rest(form) }}



		<div class="bigSubmitActionWrapper"><input type="submit"  value="Save" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>
	</form>
{% endblock %}

{% block scriptsForState %}
	<script type="text/javascript">
		var editingEventSlug = {{  event.slug }};
	</script>
{%  endblock %}

{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/eventform.js?v={{ config.assetsVersion }}"></script>
	<script type="text/javascript" src="/theme/default/js/eventform.edit.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

