{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Edit {{ event.summaryDisplay }} - {% endblock %} 

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}

{% block innerContent %}

	<div class="contentMain">
		<ul class="actionList">

			{%  if currentUserActions.has("org.openacalendar","eventEditDetails") %}
				<li><a href="/event/{{ event.slugForURL }}/edit/details"><div class="fa fa-pencil"></div> Edit Details</a></li>
			{%  endif %}

			{% if currentUserActions.has("org.openacalendar","eventEditVenue") %}
				<li><a href="/event/{{ event.slugForUrl }}/edit/venue"><div class="fa fa-pencil"></div> Edit Venue</a></li>
			{% endif %}

			{% if currentUserActions.has("org.openacalendar","eventEditTags") %}
				<li><a href="/event/{{ event.slugForUrl }}/edit/tags"><div class="fa fa-pencil"></div> Edit Tags</a></li>
			{% endif %}

			{% if currentUserActions.has("org.openacalendar","eventEditGroups") %}
				<li><a href="/event/{{ event.slugForUrl }}/edit/groups"><div class="fa fa-pencil"></div> Edit Groups</a></li>
			{% endif %}


			{% if currentUserActions.has("org.openacalendar","eventEditCuratedLists") %}
				<li><a href="/event/{{ event.slugForUrl }}/edit/curatedlists"><div class="fa fa-pencil"></div> Edit Curated lists</a></li>
			{% endif %}

			{% if currentUserActions.has("org.openacalendar","eventEditMedia") %}
				<li><a href="/event/{{ event.slugForUrl }}/edit/media"><div class="fa fa-pencil"></div> Edit Media</a></li>
			{% endif %}

		</ul>
	</div>

{% endblock %}
