{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/event">events</a></li>
	{% if group is not null %}
		<li><a href="/group/{{ group.slugForUrl }}">{{ group.title }}</a></li>
	{% endif %}
	<li class="current"><a href="/event/{{ event.slugForUrl }}">{{ event.summary }}</a></li>
{% endblock %}


{% block content %}

	{% if groups|length > 0 %}
		<div id="groupSummaryPanel">
			<ul>
			{% for group in groups %}
				<li>In group: <a href="/group/{{ group.slugForUrl }}">{{ group.title }}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}


	<h2>{{  event.summaryDisplay }}{%  if event.isCancelled  %} [CANCELLED]{%  endif %}</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/event/{{ event.slugForUrl }}">Details</a></li>
			{%  if currentUserActions.has("org.openacalendar","eventHistory") %}<li class="tab {% block tabHistory %}{% endblock %}"><a href="/event/{{ event.slugForUrl }}/history">History of changes</a></li>{%  endif %}
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = {event:{{ event.slug }}, eventSlugURL:"{{ event.slugForURL|e('js') }}", eventTitle:"{{ event.summaryDisplay|e('js') }}"{% if group is not null %}, group: {{ group.slug }}, groupTitle:"{{ group.title|e('js') }}"{% endif %}}</script>
{% endblock %}

