{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}



{% block pageTitle %}Recur {{ event.summaryDisplay }} - {% endblock %} 

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}


{% block actions %}
{% endblock %}


{% block innerContent %}

	<div class="contentMain">

		<p>Does this event recur <a href="/event/{{ event.slugForUrl }}/recur/weekly">weekly</a>?</p>

		{% if recurMonthlyOnWeekNumber %}
			<p>Does this event recur <a href="/event/{{ event.slugForUrl }}/recur/monthly">monthly
					on the {{ recurMonthlyOnWeekNumber }}{{ recurMonthlyOnWeekNumberOrdinal }}
					{{ event.getStartAt|date('l', currentTimeZone)  }} in the month</a>?</p>
		{% endif %}

		{% if recurMonthlyOnLastWeek %}
			<p>Does this event recur <a href="/event/{{ event.slugForUrl }}/recur/monthlyLast">monthly
					on the last {{ event.getStartAt|date('l', currentTimeZone)  }} in the month</a>?</p>
		{% endif %}


		<p>Does this event recur <a href="/event/{{ event.slugForUrl }}/recur/arbitrary">at a set date</a>?</p>

	</div>

{% endblock %}

