{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/event/page.html.twig' %}


{% block pageTitle %}Rollback {{ event.summaryDisplay }} - {% endblock %} 

{% block innerContent %}
	

	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.summary) }}
		{{ form_row(form.description) }}
		{{ form_row(form.url) }}
		{{ form_row(form.ticket_url) }}
		{{ form_row(form.start_at) }}
		{{ form_row(form.end_at) }}
		{{ form_row(form.country_id) }}
		{{ form_row(form.timezone) }}
		{% if currentSite.isFeatureVirtualEvents %}
			{#  if both are an option, user must check which one.  #}
			{% if currentSite.isFeaturePhysicalEvents %}
				{{ form_row(form.is_virtual) }}
			{% endif %}
			{# Secondly, any options for virtual events? ... nope #}
		{% endif %}
		{% if currentSite.isFeaturePhysicalEvents %}
			{#  if both are an option, user must check which one.  #}
			{% if currentSite.isFeatureVirtualEvents %}
				{{ form_row(form.is_physical) }}
			{% endif %}
			{# Secondly, any options for physical events? #}
			<div id="physicalEventOptions">

			</div>
		{% endif %}


		{%  include 'site/common/formRowEditComment.html.twig' with {'form': form} %}

		{{ form_rest(form) }}

		{% if event.isDeleted and event.isCancelled %}
			<p>(The event will no longer be deleted and no longer be cancelled.)</p>
		{% elseif event.isDeleted %}
			<p>(The event will no longer be deleted.)</p>
		{% elseif event.isCancelled %}
			<p>(The event will no longer be cancelled.)</p>
		{% endif %}

		<input type="submit"  value="Rollback to this state" />	
	</form>

{% endblock %}


{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/eventform.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

