{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/curatedlist">curated lists</a></li>
	<li class="current"><a href="/curatedlist/{{ curatedlist.slug }}">{{ curatedlist.title }}</a></li>
{% endblock %}


{% block content %}

	{% if not currentSite.isFeatureCuratedList %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>{{  curatedlist.title }}</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="action">
				<a href="/api1/curatedlist/{{ curatedlist.slug }}/events.ical" onclick="showExportPopup(); return false;">
					<img src="/img/actionExportIcon.png?v={{ config.assetsVersion }}" class="icon"> export
				</a>
			</li>
			{% if currentSite.getIsWebRobotsAllowed %}
				<li class="action">
					<a href="#" onclick="showSharePopup(); return false;">
						<img src="/img/actionShareIcon.png?v={{ config.assetsVersion }}" class="icon"> share
					</a>
				</li>
			{% endif %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/curatedlist/{{ curatedlist.slug }}">Details</a></li>
			<li class="tab"><a href="/curatedlist/{{ curatedlist.slug }}/calendar">Calendar</a></li>
			<li class="tab {% block tabCurators %}{% endblock %}"><a href="/curatedlist/{{ curatedlist.slug }}/curators">Curators</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = { curatedlist:{{ curatedlist.slug }}, curatedlistTitle:"{{ curatedlist.title|e('js') }}"  }</script>
{% endblock %}

