{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>Sorry - {{ config.siteTitle }}</title>
		<link rel="stylesheet" type="text/css" href="/theme/default/css/main.css?v={{ config.assetsVersion }}">
		<link rel="shortcut icon" href="/theme/default/img/favicon.png?v={{ config.assetsVersion }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div class="contentMain">
					<ul class="menu">
						<li class="title">
							<a href="/"><img src="/theme/default/img/logo.png?v={{ config.assetsVersion }}" alt="logo" class="logo"><h1>{{ config.siteTitle  }}</h1></a>
						</li>
					</ul>
					<div class="afterMenu"></div>
				</div>
			</div>
			<div id="body">
				{% block breadcrumbs %}{% endblock %}
				<div class="contentTwoColumns">
					<div class="contentTwoColumnsLeft">

						<p class="errorPageHeader">404</p>
						<p class="errorPageHeader">Not found</p>
						<p class="errorPageHeader">Error</p>
					</div>
					<div class="contentTwoColumnsRight">

						<p class="errorPageText">Sorry, we can't find this page.</p>

						<p  class="errorPageText">
							Please <a href="/">return to the home page and try again</a>
							{%  if extensions.hasExtensionID('org.openacalendar.contact') %}, or <a href="/contact">contact us</a> with any problems.{%  endif %}
						</p>

					</div>
					<div class="afterContentTwoColumns"></div>
				</div>
			</div>
			<div id="footer">
				{%  if extensions.hasExtensionID('org.openacalendar.contact') %}<a href="{{ config.getWebIndexDomainSecure() }}/contact">contact</a>{% endif %}
				<a href="{{ config.getWebIndexDomainSecure() }}/terms">terms</a>
				<a href="{{ config.getWebIndexDomainSecure() }}/privacy">privacy</a>
				<a href="http://jmbtechnology.co.uk/">&copy; JMB Technology Limited {{ COPYRIGHT_YEARS }}</a> (<a href="{{ config.getWebIndexDomainSecure() }}/credits">credits</a>)
			</div>
		</div>
	</body>
</html>
