{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div id="header">
	<ul class="menu">
		<li class="title">
			<a href="/">
				<img src="/{% if config.isSingleSiteMode %}theme/default/img/logo.png{% else %}getLogo.php{% endif %}?v={{ currentSite.logoCacheKey }}" alt="logo" class="logo">
				<h1>{{ currentSite.title }}</h1>
			</a>
		</li>
		<li>
			<a href="/event">Events</a>
			<ul class="submenu">
				<li><a href="/event">Events</a></li>
				<li><a href="/event/calendar">Calendar</a></li>
				{% if currentSite.isFeatureCuratedList %}
					<li><a href="/curatedlist">Lists</a></li>
				{% endif %}		
				{% if currentSite.isFeatureTag %}
					<li><a href="/tag">Tags</a></li>
				{% endif %}			
				{% if currentSite.isFeatureImporter %}
					<li><a href="/importurl">Import</a></li>
				{% endif %}		
				{% if currentUserCanEditSite %}
					<li><a href="/event/new">New event</a></li>
				{% endif %}						
			</ul>
		</li>
		{% if currentSite.isFeatureGroup %}
			<li>
				<a href="/group">Groups</a>	
				{% if currentUserCanEditSite %}
					<ul class="submenu">
						<li><a href="/group">Groups</a></li>
						<li><a href="/group/new">New Group</a></li>
					</ul>
				{% endif %}
			</li>
		{% endif %}
		{# We don't have currentSite.isFeatureVirtualEvents in the next OR statement because if 
		site has virtual only, theres not much point showing places menu at all. 
		It'll only have one entry and it will be the same as the main event listings anyway.
		#}
		{% if currentSite.cachedIsMultipleCountries  or currentSite.isFeaturePhysicalEvents %}
			<li>
				<a href="/places">Places</a>
				<ul class="submenu">
					{% if currentSite.cachedIsMultipleCountries %}
						<li><a href="/country">Countries</a></li>
					{% else %}
						<li><a href="/country/{{ currentSiteHasOneCountry.twoCharCode }}">{{ currentSiteHasOneCountry.title }}</a></li>
					{% endif %}
					{% if currentSite.isFeatureVirtualEvents %}
						<li><a href="/venue/virtual">Virtual</a></li>
					{% endif %}
					{% if currentSite.isFeaturePhysicalEvents %}
						<li><a href="/venue">Venues</a></li>
						{% if currentSite.isFeatureMap %}
							<li><a href="/map">Map</a></li>
						{% endif %}	
						{% if currentUserCanEditSite %}
							<li><a href="/venue/new">New venue</a></li>
						{% endif %}
					{% endif %}
				</ul>
			</li>
		{% endif %}	
		<li class="user">
			{% if currentUser is null %}
				<a href="/currentuser">Your details</a>
				<ul class="submenu">
					{% if currentSite.cachedIsMultipleTimezones %}
						<li><a href="/mytimezone">{{ currentTimeZone }}</a></li>
					{% endif %}
					<li><a href="{{ config.getWebIndexDomainSecure() }}/you/login">Login</a></li>
					<li><a href="{{ config.getWebIndexDomainSecure() }}/you/register">Register</a></li>
				</ul>			
			{% else %}
				<a href="/currentuser">{{ currentUser.username }}</a>
				<ul class="submenu">
					{% if currentSite.cachedIsMultipleTimezones %}
						<li><a href="/mytimezone">{{ currentTimeZone }}</a></li>
					{% endif %}
					<li id="userWatchesSite">
						{% if currentUserWatchesSite %}
							<a href="/watch/">Watching!</a>
						{% else %}
							<a href="/watch/">Watch?</a>
						{% endif %}
					</li>
					<li><a href="{{ config.getWebIndexDomainSecure() }}/me/">Your account</a></li>
					{% if currentUserCanAdminSite %}
						<li><a href="/admin">Calendar Admin</a></li>
					{% endif %}
					<li><a href="{{ config.getWebIndexDomainSecure() }}/me/logout">Logout</a></li>
				</ul>		
			{% endif %}
		</li>
		{% if currentUser %}
			<li id="NotificationMenu" class="user">
				<a href="{{ config.getWebIndexDomainSecure() }}/me/notification" id="NotificationMenuLink">Notifications <span id="NotificationMenuLinkCount"></span></a>
				<ul id="NotificationSubMenu" class="submenu">
					<li><a href="/me/notification">Loading ...</a></li>
				</ul>
			</li>
		{% endif %}
	</ul>
	<div class="afterMenu"></div>
</div>

