{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/group/page.html.twig' %}

{% block pageTitle %}New event in {{ group.title }} - {% endblock %} 


{% block innerContent %}

	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.summary) }}
		{{ form_row(form.description) }}
		{{ form_row(form.url) }}
		{{ form_row(form.start_at) }}
		{{ form_row(form.end_at) }}
		{{ form_row(form.country_id) }}
		
		{% if currentSite.isFeatureVirtualEvents %}
			{# Firstly, if both are an option, user must check which one.  #}
			{% if currentSite.isFeaturePhysicalEvents %}
				{{ form_row(form.is_virtual) }}
			{% endif %}
			{# Secondly, any options for virtual events? ... nope #}
		{% endif %}
		{% if currentSite.isFeaturePhysicalEvents %}
			{# Firstly, if both are an option, user must check which one.  #}
			{% if currentSite.isFeatureVirtualEvents %}
				{{ form_row(form.is_physical) }}
			{% endif %}
			{# Secondly, any options for physical events? #}
			<div id="physicalEventOptions">

			</div>
		{% endif %}
		
		{{ form_row(form.timezone) }}
		{{ form_rest(form) }}

		<input type="submit"  value="Save" />	
	</form>

{% endblock %}



{% block scripts %}
	<script type="text/javascript" src="/js/eventform.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

