{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page2col.html.twig' %}

{% block pageTitle %}Welcome - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/" />
	<link rel="alternate"  type="text/calendar" title="{{ currentSite.title | escape('html_attr') }}" href="/api1/events.ical" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{# no breadcrumbs on front page. Ppl know where they are. Apparently it confuses ppl #}
{% endblock %}


{% block contentLeft %}
	{% if currentSite.descriptionText %}
		<p>{{ currentSite.descriptionText | nl2br | linkify }}</p>
	{% else %}
		<p>Welcome to the calender for {{ currentSite.title  }}.</p>
	{% endif %}
		
	<ul class="actionList">
		<li><a href="/event"><div class="iconCalendarOLarge"></div> Events</a></li>
		{% if currentSite.isFeatureGroup %}
			<li><a href="/group"><div class="iconUsersLarge"></div> Groups</a></li>
		{% endif %}
		{# We don't have currentSite.isFeatureVirtualEvents in the next OR statement because if 
		site has virtual only, theres not much point showing places menu at all. 
		It'll only have one entry and it will be the same as the main event listings anyway.
		#}
		{% if currentSite.cachedIsMultipleCountries  or currentSite.isFeaturePhysicalEvents %}
			<li><a href="/places"><div class="iconGlobeLarge"></div> Places</a></li>
		{% endif %}
		<li><a href="/history"><div class="iconHistoryLarge"></div> Recent Changes</a></li>
	</ul>

{% endblock %}


{% block contentRight %}
		
	<ul class="events">
		<li class="export">
			<a href="/api1/events.ical" onclick="showExportPopup(); return false;">
				<div class="iconDownloadSmall"></div> export
			</a>
			{% if currentSite.getIsWebRobotsAllowed %}
				<a href="#" onclick="showSharePopup(); return false;">
					<div class="iconShareSmall"></div> share
				</a>
			{% endif %}				
		</li>
		{% for event in events %}
			{% include '/site/common/eventListing.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
		{% else %}
			<p>
				There are no upcoming events.
				{% if currentUserActions.has("org.openacalendar","eventNew") %}Why not <a href="/event/new">add one</a>?{% endif %}
			</p>
		{% endfor %}
	</ul>

{% endblock %}

{% block scriptsForState %}
	<script type="text/javascript">var exportData = {}</script>
{% endblock %}

	
{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}



