{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>{% block pageTitle %}{% endblock %} {{ config.siteTitle }}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/displayboard.css?v={{ config.assetsVersion }}">
		<link rel="shortcut icon" href="/img/favicon.png?v={{ config.assetsVersion }}" />
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	</head>
	<body>
		<div id="pageWrapper" class="displayBoard">
			<div id="headerAndBodyWrapper">
				<div id="headerWrapper">
					<img src="/getLogo.php?v={{ currentSite.logoCacheKey }}" alt="logo" class="logo">
					<h1><a href="/">{{ currentSite.title }}</a></h1>
					<h2><a href="/">{{ config.siteTitle }}</a></h2>				
				</div>
				<div class="displayBoardSegment">
					{% block today %}{% endblock %}
					<div class="afterDisplayBoardSegment"></div>
				</div>
				<div class="displayBoardSegment">
					{% block next %}{% endblock %}
					<div class="afterDisplayBoardSegment"></div>
				</div>
				<div class="displayBoardSegment">
					{% block later %}{% endblock %}
					<div class="afterDisplayBoardSegment"></div>
				</div>
			</div>
			<div id="footer">
				<p>Powered by <a href="http://ican.openacalendar.org/">OpenACalendar</a> - 
					<a href="http://jmbtechnology.co.uk/">&copy; JMB Technology Limited {{ COPYRIGHT_YEARS }}</a>
				</p>
			</div>
		</div>
		{% include 'analytics.html.twig' %}
	</body>
</html>

