{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Media - {% endblock %} 

{% block htmlHeader %}
	{% if not currentSite.isWebRobotsAllowed %}
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{% else %}
		<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/media/" />
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/media', 'label':'media' } ]  } %}
{% endblock %}

{% block content %}

	<h2>Media</h2>

	<ul class="mainListMedias">
		{% for media in medias %}
			<li class="media">
				<div class="thumbnail">
					<a href="/media/{{ media.slug }}"><img src="/media/{{ media.slug }}/thumbnail"></a>
				</div>
				<div class="title">{% if media.title %}{{ media.title }}{% else %}Picture{% endif %}</div>
				<div class="source">Source: 
					<a href="{% if media.sourceUrl %}{{ media.sourceUrl }}{% else %}/media/{{ media.slug }}/{% endif %}" target="_blank">
						{% if media.sourceText %}{{ media.sourceText }}{% else %}Unknown{% endif %}
					</a>
				</div>
				<div class="afterMediaListing"></div>
			</li>
		{% endfor %}
	</ul>




{% endblock %}

