{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Users Admin - {% endblock %} 

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/admin">admin</a></li>
	<li class="current"><a href="/admin/users">users</a></li>
{% endblock %}

{% block content %}

        <form action="#" method="post" class="styled">
			<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
			<input type="hidden" name="submitted" value="yes">			
			
			<div id="isAllUsersEditorsWrapper">
				<label>
					<input type="checkbox" name="isAllUsersEditors" value="yes" {% if currentSite.isAllUsersEditors %}checked{% endif %}>
					Can anyone with an account edit data?
				</label>
			</div>
			
			<div id="isRequestAccessAllowedWrapper">
				<label>
					<input type="checkbox" name="isRequestAccessAllowed" value="yes" {% if currentSite.isRequestAccessAllowed %}checked{% endif %}>
					Can users request permission to edit the calendar?
				</label>
			</div>
			
			<div id="requestAccessQuestionWrapper">
				<label>
					What questions do users have to answer when requesting permission to edit the calendar?
					<textarea name="requestAccessQuestion">{{ currentSite.requestAccessQuestion }}</textarea>
				</label>
			</div>
			
            <input type="submit"  value="Save" />   
        </form>
        

		<p>The users below are administrators {% if not currentSite.isAllUsersEditors %} and editors{% endif %}.</p>

		<form action="/admin/users/actions" method="post">
			<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
			<table class="data">
				<tr>
					<th>&nbsp;</th>
					<th>Username</th>
					<th>Role</th>
					<th>&nbsp;</th>
				</tr>
				{% for user in users %}
					<tr {% if loop.index is even %}class="alternative"{% endif %}>
						<td>{% if not user.isSiteOwner %}<input type="checkbox" name="userID[]" value="{{ user.id }}">{% endif %}</td>
						<td>{{ user.username }}</td>
						<td>{% if user.isSiteOwner %}Owner{% elseif user.isSiteAdministrator %}Admin{% elseif user.isSiteEditor %}Editor{% endif %}</td>
					</tr>
				{% endfor %}
			</table>
			<input type="submit" name="actionRemove" value="Remove user">
			<input type="submit" name="actionAdministrator" value="Make Administrator">
			{% if not currentSite.isAllUsersEditors %}
			<input type="submit" name="actionEditor" value="Make Editor">
			{% endif %}
		</form>

		<a href="/admin/users/add">Add</a>
		
		{% if currentSite.isRequestAccessAllowed and usersRequest %}
		
			<p>The users below have requested access</p>
			<table class="data">
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>&nbsp;</th>
				</tr>
				{% for user in usersRequest %}
					<tr {% if loop.index is even %}class="alternative"{% endif %}>
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td><a href="/admin/user/{{ user.username }}/request">Action</a></td>
					</tr>
				{% endfor %}
			</table>
			
			
		{% endif %}

		
{% endblock %}
		
{% block scripts %}
	<script type="text/javascript" src="/js/adminuserform.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

