{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div style="padding: 5px; margin: 5px 0 5px 0; background: #ccc; border-radius: 5px;">
	<div style="font-weight: bold;">Venue: <a href="{{ config.getWebSiteDomainSecure(site.slug) }}/venue/{{ historyItem.venueSlug }}">{{ historyItem.title }}</a></div>
	<div>{{ historyItem.description | nl2br  }}</div>
	<div style="font-style: italic; font-size: 0.8em;">
		Edited at 
		<time datetime="{{ historyItem.getCreatedAt|tolocaltimeformatted('c', currentTimeZone) }}">
			{{ historyItem.getCreatedAt|tolocaltimeformatted12or24hourclock('D jS M Y g:ia', 'D jS M Y H:i', currentUserClock12Hour, currentTimeZone) }}
		</time>	
		{% if historyItem.userAccountID %}by {{  historyItem.userAccountUserName }}{% endif %}
	</div>
</div>
