{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div id="header">
	<ul class="menu">
		<li class="title">
			<a href="/"><img src="/theme/default/img/logo.png?v={{ config.assetsVersion }}" alt="logo" class="logo"><h1>{{ config.siteTitle  }}</h1></a>
		</li>
		{%  if actionCreateSite %}
			<li><a href="{{ config.getWebIndexDomainSecure() }}/create">Create</a></li>
		{% endif %}
		<li><a href="/discover">Discover</a></li>
		<li class="user">
			{% if currentUser is null %}
				<a href="{{ config.getWebIndexDomainSecure() }}/you">Your details</a>
				<ul class="submenu">
					<li><a href="{{ config.getWebIndexDomainSecure() }}/you/login">Login</a></li>
					<li><a href="{{ config.getWebIndexDomainSecure() }}/you/register">Register</a></li>
				</ul>				
			{% else %}
				<a href="{{ config.getWebIndexDomainSecure() }}/me">{{ currentUser.username }}</a>
				<ul class="submenu">
					{# At the moment only logged in users can see any times on the Index site, so let's not confuse logged out users #}
					<li><a href="{{ config.getWebIndexDomainSecure() }}/mytimezone">{{ currentTimeZone }}</a></li>
					<li><a href="{{ config.getWebIndexDomainSecure() }}/me/sites">Calendars</a></li>
					<li><a href="{{ config.getWebIndexDomainSecure() }}/me/agenda">My Personal Agenda</a></li>
					<li><a href="{{ config.getWebIndexDomainSecure() }}/me/calendar">My Personal Calendar</a></li>
					<li><a href="{{ config.getWebIndexDomainSecure() }}/me/">Your account</a></li>
					{% if currentUser.isSystemAdmin %}
						<li><a href="{{  config.getWebIndexDomainSecure() }}/sysadmin">Sys Admin</a></li>
					{% endif %}
					<li><a href="{{ config.getWebIndexDomainSecure() }}/me/logout">Logout</a></li>
				</ul>				
			{% endif %}
		</li>
		{% if currentUser %}
			<li id="NotificationMenu" class="user">
				<a href="{{ config.getWebIndexDomainSecure() }}/me/notification" id="NotificationMenuLink">
					<div class="iconBellOSmall"></div> <span id="NotificationMenuLinkCount"></span>
				</a>
				<ul id="NotificationSubMenu" class="submenu">
					<li><a href="/me/notification">Loading ...</a></li>
				</ul>
			</li>
		{% endif %}
	</ul>
	<div class="afterMenu"></div>
</div>

