{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

<h3>What is the event?</h3>

{# We don't client side validate any form with URL fields to get around UI/UX bug. See https://github.com/OpenACalendar/OpenACalendar-Web-Core/issues/221  #}
<form action="#" method="post" class="styled" novalidate="novalidate" id="NewEventForm">

	{{ form_errors(form) }}

	{{ form_row(form.summary) }}
	{{ form_row(form.description) }}
	{{ form_row(form.url) }}
	{{ form_row(form.ticket_url) }}

	{%  for customField in formCustomFields %}
		{{ form_row(form['custom_' ~ customField.key]) }}
		{% include  ['site/eventnew/eventDraft.what.form.custom_field.' ~ customField.key ~ '.after.html.twig', 'site/eventnew/eventDraft.what.form.custom_field.after.html.twig'] with { 'customField':customField } %}
	{%  endfor %}

	{%  if currentSiteFeatures.has('org.openacalendar','PhysicalEvents') %}
		{{ form_row(form.is_physical) }}
	{%  endif %}

	{%  if currentSiteFeatures.has('org.openacalendar','VirtualEvents') %}
		{{ form_row(form.is_virtual) }}
	{%  endif %}

	{{ form_rest(form) }}

	<div class="bigSubmitActionWrapper"><input type="submit"  value="Next" class="bigSubmitAction"/></div>
	<div class="afterBigSubmitActionWrapper"></div>

</form>


