{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}


<p>Please set a rough area or city. This helps people find the event.</p>

<form id="NewEventForm" action="" method="get" class="styled">
	<input type="hidden" name="action" value="searchAreas">

	<div class="rowWrapper">
		<div class="labelWrapper">Area or city</div>
		<div class="widgetWrapperPlacementOnly"><input type="text" name="searchAreas"  id="SearchField" value="{{ searchAreas | e('html_attr') }}" autocomplete="off"></div>
		<div class="after"></div>
	</div>

	<div class="bigSubmitActionWrapper"><input type="submit" value="Search"></div>
	<div class="afterBigSubmitActionWrapper"></div>
</form>

<div id="innerPageWrapper">
	<div id="innerPage">

		<div class="innerPageLeft">
			<ul class="areasList" id="EditEventAreaResults">
				<li class="area">
					<form action="/event/new/{{  draft.slug }}/{{ currentStep.stepID }}" method="post" class="oneActionFormRight">
						<input type="hidden" name="action" value="setnoareavenue">
						<input type="submit" value="None of these places">
					</form>
					<div class="afterOneActionFormRight"></div>
				</li>
				{% for area in areas %}
					<li class="area result" {%  if area.minLat %}onmouseover="mapToBounds({{  area.minLat }}, {{  area.maxLat }}, {{  area.minLng }}, {{  area.maxLng }})"{%  endif %}>
						<form action="/event/new/{{  draft.slug }}/{{ currentStep.stepID }}" method="post" class="oneActionFormRight">
							<input type="hidden" name="action" value="setthisarea">
							<input type="hidden" name="area_slug" value="{{  area.slug }}">
							<input type="submit" value="Select {{ area.title }}">
						</form>
						<div class="title">{{ area.title }}</div>
						{%  if area.parent1Title %}<div>{{ area.parent1Title }}</div>{% endif %}
						<div class="afterOneActionFormRight"></div>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="innerPageRight hideIfOneCol">
			<div id="MapWrapper">
				<div id="Map" class="fullWidth"></div>
			</div>
		</div>

		<div class="afterInnerPageContent"></div>

	</div>
</div>

<form action="" class="styled" method="POST">
	<input type="hidden" name="action" value="setvenue">
	<div class="bigSubmitActionWrapper"><input type="submit" value="I know the exact Venue" class="bigSubmitAction"/></div>
	<div class="afterBigSubmitActionWrapper"></div>
</form>