{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Add an Event - {% endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/event">events</a></li>
{% endblock %}

{% block content %}
	


	{# We don't client side validate any form with URL fields to get around UI/UX bug. See https://github.com/OpenACalendar/OpenACalendar-Web-Core/issues/221  #}
	<form action="#" method="post" class="styled" id="NewEventForm" novalidate="novalidate">

		{{ form_errors(form) }}

		{{ form_row(form.summary) }}
		{{ form_row(form.description) }}
		{{ form_row(form.url) }}
		{{ form_row(form.ticket_url) }}
		<div class="rowWrapper">
			<div class="labelWrapper">Date/Time</div>
			<div class="widgetWrapper" id="ReadableDateTimeRange">
			</div>
			<div class="after"></div>
		</div>
		{{ form_row(form.start_at) }}
		{{ form_row(form.end_at) }}
		{{ form_row(form.country_id) }}
		{{ form_row(form.timezone) }}
		{%  if area %}
			<div class="rowWrapper" id="AreaRow">
				<input type="hidden" name="area" value="{{  area.slug }}">
				<div class="labelWrapper">Area</div>
				<div class="widgetWrapper">
					{{  area.title }}
					(<a href="#" onclick="$('#AreaRow').remove(); return false;">remove this and choose area later</a>)
				</div>
				<div class="after"></div>
			</div>
		{%  endif %}

		{% if currentSite.isFeatureVirtualEvents %}
			{# If both are an option, user must check which one.  #}
			{% if currentSite.isFeaturePhysicalEvents %}
				{{ form_row(form.is_virtual) }}
			{% endif %}
		{% endif %}
		{% if currentSite.isFeaturePhysicalEvents %}
			{#  If both are an option, user must check which one.  #}
			{% if currentSite.isFeatureVirtualEvents %}
				{{ form_row(form.is_physical) }}
			{% endif %}
			{# Secondly, any options for physical events? #}
			<div id="physicalEventOptions">
				
			</div>
		{% endif %}

		{%  include 'site/common/formRowEditComment.html.twig' with {'form': form} %}

		{{ form_rest(form) }}

		<div class="rowWrapper" id="DuplicateEventsContainer" style="display: none;">
			<div class="labelWrapper">&nbsp;</div>
			<div class="widgetWrapperPlacementOnly">
				<div class="highlightInfoBoxWrapper">
					<div class="highlightInfoBoxTitle">Duplicate?</div>
					<div class="highlightInfoBoxContent">
						<p>Wait, is this event maybe a duplicate of one of these? Click for more information - you won't lose what you have already entered.</p>
						<ul id="DuplicateEventsList" class="mainListEvents"></ul>
					</div>
				</div>
			</div>
			<div class="after"></div>
		</div>

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Save" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>
	</form>
{% endblock %}


{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/eventform.js?v={{ config.assetsVersion }}"></script>
	<script type="text/javascript" src="/theme/default/js/eventform.new.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

