{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Site {{  site.title }} Countries - {% endblock %}

{% block breadcrumbs %}
	<li><a href="/sysadmin/site/{{ site.id }}/">{{ site.title }}</a></li>
	<li class="current"><a href="/sysadmin/site/{{ site.id }}/country">countries</a></li>
{% endblock %}


{% block content %}



	<ul class="countries">
		{% for country in countries %}
			<li class="country">
				<div class="title"><a href="/sysadmin/site/{{ site.id }}/country/{{ country.twoCharCode }}">{{ country.title }}</a></div>
			</li>
		{% else %}
			<li>
				There are no countries.
			</li>								
		{% endfor %}
	</ul>


{% endblock %}


