{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}


{% block breadcrumbs %}
	<li><a href="/sysadmin/site/{{ site.id }}/">{{ site.title }}</a></li>
	<li><a href="/sysadmin/site/{{ site.id }}/country">countries</a></li>
	<li class="current"><a href="/sysadmin/site/{{ site.id }}/country/{{ country.twoCharCode }}">{{ country.title }}</a></li>
{% endblock %}


{% block content %}

	<ul class="areasAdmin">
		{% for area in areaTree.children %}
			{% include 'sysadmin/site/country.areaAsTree.html.twig' with {'areaData':area} %}
		{% endfor %}
	</ul>

{% endblock %}


