{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<li class="area">
	<div class="icon">
		<a href="/area/{{ historyItem.slug }}">
			<img src="/theme/default/img/historyAreaIcon.png" alt="Area" title="Area">
		</a>
	</div>
	<div class="title"><a href="/area/{{ historyItem.slug }}">{{ historyItem.title }}</a></div>
	{% if historyItem.getIsNew %}
		<div class="new">New!</div>
	{% endif %}
	{% if historyItem.isAnyChangeFlagsUnknown %}
		<div>{{ historyItem.description | nl2br  }}</div>
	{% else %}
		{% if historyItem.getTitleChanged %}
			<div class="fieldChanged">
				<div class="field">Title changed:</div>
				<div class="value">{{ historyItem.title }}</div>
			</div>
		{% endif %}
		{% if historyItem.getDescriptionChanged %}
			<div class="fieldChanged">
				<div class="field">Description changed:</div>
				<div class="value">{{ historyItem.description | nl2br }}</div>
			</div>
		{% endif %}
		{% if historyItem.getParentAreaIdChanged %}
			<div class="fieldChanged">
				<div class="field">Parent Area changed:</div>
				<div class="value">Yes</div>
			</div>
		{% endif %}
		{% if historyItem.getCountryIdChanged %}
			<div class="fieldChanged">
				<div class="field">Country changed:</div>
				<div class="value">Yes</div>
			</div>
		{% endif %}
		{% if historyItem.getIsDeletedChanged %}
			<div class="fieldChanged">
				<div class="field">Status changed:</div>
				<div class="value">{% if historyItem.getIsDeleted %}Deleted!{% else %}Restored!{% endif %}</div>
			</div>
		{% endif %}
		{% if historyItem.getMinMaxLatLngChanged  %}
			<div class="fieldChanged">
				<div class="field">Position on map changed:</div>
				<div class="value">Yes ({{ historyItem.minLat }},{{ historyItem.minLng }} - {{ historyItem.maxLat }},{{ historyItem.maxLng }})</div>
			</div>
		{% endif %}
	{% endif %}
	<div class="created">
		Edited at 
		<time datetime="{{ historyItem.getCreatedAt|date('c', currentTimeZone) }}">
			{{ historyItem.getCreatedAt|date( currentUserClock12Hour ?  'D jS M Y g:ia' : 'D jS M Y H:i', currentTimeZone) }}
			({{ historyItem.getCreatedAt | time_diff }})
		</time>	
		{% if historyItem.userAccountID %}by {{  historyItem.userAccountUserName }}{% endif %}
		{%  if historyItem.editComment %} leaving comment: {{ historyItem.editComment }}{%  endif %}
	</div>
</li>
