{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div class="date">
	<time datetime="{{ startAt|totimezone(timezone)|date('c') }}" itemprop="startDate">
		<span class="startDay">{{ startAt|totimezone(timezone)|date('D jS') }}</span>
		<span class="startMonthYear">{{ startAt|totimezone(timezone)|date('M Y') }}</span>
		<span class="startTime">
			{{ startAt|totimezone(timezone)|date( currentUserClock12Hour ? 'g:ia' : 'H:i') }}
		</span>
	</time>
	<span class="to">to</span>
	{% if sameday(startAt,endAt) %}
		<time datetime="{{ endAt|totimezone(timezone)|date('c') }}" itemprop="endDate">
			<span class="end">
				{{ endAt|totimezone(timezone)|date( currentUserClock12Hour ?  'g:ia' : 'H:i') }}
			</span>
		</time>
	{% else %}
		<time datetime="{{ endAt|totimezone(timezone)|date('c') }}" itemprop="endDate">
			<span class="end">
				{{ endAt|totimezone(timezone)|date( currentUserClock12Hour ?  'D jS M Y g:ia' : 'D jS M Y H:i') }}
			</span>
		</time>
	{% endif %}
	{% if showTimeZone %}
		({{ timezone }} time)
	{% endif %}
</div>
