{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<li class="importurl">
	<div class="icon">
		<a href="/importurl/{{ historyItem.importURLSlug }}">
			<img src="/theme/default/img/historyImportURLIcon.png" alt="Tag" title="Tag">
		</a>
	</div>
	<div class="title"><a href="/importurl/{{ historyItem.importURLSlug }}">{{ historyItem.title }}</a></div>
	{% if historyItem.getIsNew %}
		<div class="new">New!</div>
	{% endif %}
	{% if historyItem.isAnyChangeFlagsUnknown %}
		<div>{{ historyItem.title | nl2br  }}</div>
	{% else %}
		{% if historyItem.getTitleChanged %}
			<div class="fieldChanged">
				<div class="field">Title changed:</div>
				<div class="value">{{ historyItem.title }}</div>
			</div>
		{%endif %}
		{% if historyItem.getIsEnabledChanged %}
			<div class="fieldChanged">
				<div class="field">Is Enabled changed:</div>
				<div class="value">{% if historyItem.isEnabled %}Enabled{% else %}Disabled{% endif %}</div>
			</div>
		{%endif %}
		{% if historyItem.getExpiredAtChanged %}
			<div class="fieldChanged">
				<div class="field">Expired changed:</div>
				<div class="value">{% if historyItem.expiredAt %}Expired{% else %}Not Expired{% endif %}</div>
			</div>
		{%endif %}
		{% if historyItem.getCountryIdChanged %}
			<div class="fieldChanged">
				<div class="field">Country changed:</div>
				<div class="value">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getAreaIdChanged %}
			<div class="fieldChanged">
				<div class="field">Area changed:</div>
				<div class="value">changed{# TODO #}</div>
			</div>
		{% endif %}
	{% endif %}
	<div class="created">
		Edited at 
		<time datetime="{{ historyItem.getCreatedAt|tolocaltimeformatted('c', currentTimeZone) }}">
			{{ historyItem.getCreatedAt|tolocaltimeformatted12or24hourclock('D jS M Y g:ia', 'D jS M Y H:i', currentUserClock12Hour, currentTimeZone) }}
			({{ historyItem.getCreatedAt | timesinceinwords }})
		</time>	
		{% if historyItem.userAccountID %}by {{  historyItem.userAccountUserName }}{% endif %}
	</div>
</li>
