{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<li class="importedevent" >
	{% if true %}
		<div class="dateTimeIcon">
			<time datetime="{{ importedEvent.getStartAt|tolocaltimeformatted('c', currentTimeZone) }}">
				<a href="/import/{{ import.slug }}/importedevent/{{ importedEvent.id }}">
					<div class="dateIcon">
						<span class="startDay">{{ importedEvent.getStartAt|tolocaltimeformatted('D', currentTimeZone) }}</span>
						<span class="startDate">{{ importedEvent.getStartAt|tolocaltimeformatted('jS', currentTimeZone) }}</span>
						<span class="startMonthYear">{{ importedEvent.getStartAt|tolocaltimeformatted('M \'y', currentTimeZone) }}</span>
					</div>
					<div class="timeIcon">
						<span class="startTime">{{ importedEvent.getStartAt|tolocaltimeformatted12or24hourclock('g:ia', 'H:i', currentUserClock12Hour, currentTimeZone) }}</span>
					</div>
				</a>
			</time>				
		</div>
	{% endif %}
	<div class="title">
		<a href="/import/{{ import.slug }}/importedevent/{{ importedEvent.id }}">
			{{ importedEvent.title }}
		</a>
	</div>
	<p class="description">{{ importedEvent.description |  truncate(1000) | nl2br  | linkify }}</p>
	{%  if importedEvent.hasReoccurence %}<p class="reoccur">This event reoccurs</p>{% endif %}
	<div class="afterEventListing"></div>
</li>
