{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}


<li class="venue">
	{%  if venue.hasMediaSlugs %}
		{% for mediaSlug in venue.mediaSlugsAsList(2) %}
			<div class="media"><a href="/venue/{{ venue.slugForUrl }}"><img src="/media/{{ mediaSlug }}/thumbnail"></a></div>
		{% endfor %}
	{%  endif %}
	<div class="title">
		<a href="/venue/{{ venue.slugForUrl }}">
			<span class="text">{{ venue.title }}</span>
			{% if venue.cachedFutureEvents == 1 %}
				<span class="futureEvents">1 Future Event</span>
			{% elseif venue.cachedFutureEvents > 1 %}
				<span class="futureEvents">{{  venue.cachedFutureEvents }} Future Events</span>
			{%  endif %}
		</a>
	</div>
	{{ venue.description | nl2br }}
	<div class="afterVenueListing"></div>
</li>
