{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div class="rowWrapper">
	<div class="labelWrapper">&nbsp;</div>
	<div class="widgetWrapperPlacementOnly">
		<ul id="ChangeVenueAreaList">
			{% for parentArea in parentAreas %}
				<li class="selectedarea">
					<span class="content">
						<span class="title">{{ parentArea.title }}</span>
						<a href="#" onclick="removeArea(this); return false;" class="remove">X</a>
					</span>
					<input type="hidden" name="areas[]" value="EXISTING:{{ parentArea.slug }}">
				</li>
			{% endfor %}
			{% if area %}
				<li class="selectedarea">
					<span class="content">
						<span class="title">{{ area.title }}</span>
						<a href="#" onclick="removeArea(this); return false;" class="remove">X</a>
					</span>
					<input type="hidden" name="areas[]" value="EXISTING:{{ area.slug }}">
				</li>
			{% endif %}
			{% if childAreas %}
				<li class="selectArea">
					<ul class="areas">
						{% for childArea in childAreas %}
							<li class="area"><span class="content"><a href="#" onclick="existingAreaChoosen({{ childArea.slug }}); return false;">{{ childArea.title }}</a></span><span class="aftercontent">&nbsp;</span></li>
						{% endfor %}
						{%  if currentUserActions.has('org.openacalendar','areaNew') %}
							<li class="area"><span class="content"><a href="#" onclick="newAreaChoosen(); return false;">Create new</a></span><span class="aftercontent">&nbsp;</span></li>
						{%  endif %}
					</ul>
				</li>
			{% endif %}
		</ul>
	</div>
	<div class="after"></div>
</div>

