{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block htmlHeader %}
	<meta name="openacalendar:country:code" content="{{  country.twoCharCode }}" />
{%  endblock %}


{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/country', 'label':'countries' }, {'url':'/country/'~country.twoCharCode, 'label':country.title} ]  } %}
{% endblock %}


{% block content %}

	<h2>{{  country.title }} <img src="/theme/default/img/countries/{{ country.twoCharCode|lower }}.png" alt="Flag"></h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/country/{{ country.twoCharCode }}">Details &amp; Events</a></li>
			<li class="tab"><a href="/country/{{ country.twoCharCode }}/calendar">Calendar</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">
		var exportData = { country:"{{ country.twoCharCode }}", countryTitle: "{{  country.title | e('js') }}"   };
		var countryData = { code: "{{ country.twoCharCode }}",
					maxLat: {% if country.maxLat %}{{ country.maxLat }}{% else %}null{% endif %},
					maxLng: {% if country.maxLng %}{{ country.maxLng }}{% else %}null{% endif %}, 
					minLat: {% if country.minLat %}{{ country.minLat }}{% else %}null{% endif %},
					minLng: {% if country.minLng %}{{ country.minLng }}{% else %}null{% endif %}, };
	</script>
{% endblock %}

