{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/country/page.mainTab.html.twig' %}


{% block pageTitle %}{{ country.title }} - {% endblock %}

{% block tabDetails %}currentTab{% endblock %}

{% block switcherAgenda %}current{% endblock %}

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/country/{{ country.twoCharCode }}/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	{{ parent() }}
{% endblock %}


	
{% block eventsContent %}

	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
		{% else %}
			<li class="nodata">
				No events found.
				{% if currentUserActions.has("org.openacalendar","eventNew") %}Why not <a href="/event/new">add one</a>?{% endif %}
			</li>
		{% endfor %}
	</ul>

{% endblock %}

	
{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
	{{ parent() }}
{% endblock %}

