{#
 # @package org.openacalendar.curatedlists
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Lists - {% endblock %} 


{% block htmlHeader %}
	{% if not currentSite.isWebRobotsAllowed or not curatedListListFilterParams.isDefaultFilters  %}
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{%  else %}
		<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/curatedlist/" />
	{%  endif %}
	<link rel="stylesheet" type="text/css" href="/theme/default/css/curatedlists.css?v={{ config.assetsVersion }}">
{% endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/curatedlist', 'label':'curated lists' } ]  } %}
{% endblock %}

{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar.curatedlists','CuratedList') %}
		<div class="flash-error"><div class="contentMain">This feature has been disabled on this calendar. You can not make changes.</div></div>
	{% endif %}

	<div class="contentMain">
		<h2>Curated Lists</h2>
	</div>

	<div class="pageActionsWrapper">
		<ul class="pageActions">
			{% if currentUserActions.has("org.openacalendar","curatedListNew") %}
				<li class="action">
					<a href="/curatedlist/new"><div class="fa fa-pencil"></div> new list of events</a>
				</li>
			{% endif %}
			{% if currentUserActions.has("org.openacalendar","eventNew") %}
				<li class="action">
					<a href="/event/new"><div class="fa fa-pencil"></div> new event</a>
				</li>
			{% endif %}
			<li class="tab currentTab">List</li>
		</ul>
	</div>

	{% include '/site/curatedListsListFilterParams.html.twig' %}

	<ul class="mainListCuratedLists">
		{% for curatedlist in curatedlists %}
			<li class="curatedlist">
				<div class="title">
					<a href="/curatedlist/{{ curatedlist.slug }}">
						<span class="text">{{ curatedlist.title }}</span>
						{% if curatedlist.cachedFutureEvents == 1 %}
							<span class="futureEvents">1 Future Event</span>
						{% elseif curatedlist.cachedFutureEvents > 1 %}
							<span class="futureEvents">{{  curatedlist.cachedFutureEvents }} Future Events</span>
						{%  endif %}
					</a>
				</div>
				<div class="description">{{ curatedlist.description | truncate(500) | nl2br  }}</div>
			</li>
		{% else %}
			<li>
				There are no lists.
				{# TODO why not create one? link #}
			</li>
		{% endfor %}
	</ul>

{% endblock %}

