{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/curatedlist/page2col.html.twig' %}


{% block pageTitle %}{{ curatedlist.title }} - {% endblock %} 


{% block tabDetails %}currentTab{% endblock %}
	
{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/curatedlist/{{ curatedlist.slug }}/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}


{% block actions %}
	{% if currentUserCanEditCuratedList and currentUserCanEditSite and currentSite.isFeatureCuratedList %}
		<li class="action">
			<a href="/curatedlist/{{ curatedlist.slug }}/edit"><img src="/theme/default/img/actionIcon.png?v={{ config.assetsVersion }}" class="icon"> edit</a>
		</li>
	{% endif %}
{% endblock %}


{% block innerContentLeft %}

	<p>{{ curatedlist.description | nl2br | linkify }}</p>

{% endblock %}

	
{% block innerContentRight %}

	{% include '/site/eventListFilterParams.html.twig' %}

	<ul class="events">
		{% for event in events %}
			{% include '/site/common/eventListing.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
			{% if currentUserCanEditCuratedList and currentSite.isFeatureCuratedList %}
				<li>				
					<form action="/curatedlist/{{ curatedlist.slug }}/event/{{ event.slug }}/remove" method="post">
						<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
						<input type="hidden" name="returnTo" value="curatedlist">
						<input type="submit" value="Remove">
					</form>
				</li>
			{% endif %}
		{% else %}
			<li>
				No events found.
			</li>		
		{% endfor %}
	</ul>

{% endblock %}


{% block scripts %}
	<script src="/theme/default/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

	
