{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}New Event Drafts - {% endblock %}

{% block breadcrumbs %}
	<li><a href="/sysadmin/site/{{ site.id }}/">{{ site.title }}</a></li>
	<li class="current"><a href="/sysadmin/site/{{ site.id }}/neweventdraft">new event drafts</a></li>
{% endblock %}

{% block content %}

	<table class="data">
		<tr>
			<th>Slug</th>
			<th>Completed</th>
			<th>Created</th>
			<th>Updated</th>
			<th>&nbsp;</th>
		</tr>
		{% for neweventdraft in neweventdrafts %}
			<tr {% if loop.index is even %}class="alternative"{% endif %} >
				<td>{{ neweventdraft.slug }}</td>
				<td>{%  if neweventdraft.eventID %}Yes{%  elseif neweventdraft.wasExistingEventID %}Dupe, original found{%  endif %}</td>
				<td>{{ neweventdraft.createdAt |tolocaltimeformatted('D H:i jS M Y', currentTimeZone ) }}</td>
				<td>{{ neweventdraft.updatedAt |tolocaltimeformatted('D H:i jS M Y', currentTimeZone ) }}</td>
				<td>
					<a href="/sysadmin/site/{{ site.id }}/neweventdraft/{{ neweventdraft.slug }}" class="button">Show</a>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}

