{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/venue/page.html.twig' %}




{% block pageTitle %}Delete {{ venue.title }} - {% endblock %}

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}

{% block innerContent %}

	
	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.agree) }}

		{% if events %}
			<div class="rowWrapper">
				<div class="labelWrapper">&nbsp;</div>
				<div class="widgetWrapperPlacementOnly">
					{% if area is defined and area is not null %}
						Future Events will be changed to an unspecified venue in {{ area.title }}.
					{% elseif country is defined and country is not null%}
						Future Events will be changed to an unspecified venue in {{ country.title }}.
					{% else %}
						Future Events will be changed to an unspecified venue.
					{% endif %} 
				</div>
				<div class="after"></div>
			</div>
		{% endif %}

		{{ form_rest(form) }}

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Delete" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>
	</form>



{% endblock %}

