{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block htmlHeader %}
	{%  if country %}<meta name="openacalendar:country:code" content="{{  country.twoCharCode }}" />{% endif %}
	{%  if area %}<meta name="openacalendar:area:slug" content="{{  area.slugForURL}}" />{%  endif %}
	<meta name="openacalendar:venue:slug" content="{{  venue.slugForURL}}" />
{%  endblock %}

{% block breadcrumbs %}
	{%  set breadcrumbs = [  { 'url':'/venue', 'label':'venues' }, {'url':'/country/'~country.twoCharCode, 'label':country.title} ] %}
	{% for parentArea in parentAreas %}
		{%  set breadcrumbs = breadcrumbs|merge([{ 'url':'/area/'~parentArea.slugForUrl, 'label':parentArea.title }])  %}
	{% endfor %}
	{% if area %}
		{%  set breadcrumbs = breadcrumbs|merge([{ 'url':'/area/'~area.slugForUrl, 'label':area.title }])  %}
	{% endif %}
	{%  set breadcrumbs = breadcrumbs|merge([{ 'url':'/venue/'~venue.slugForUrl, 'label':venue.title }])  %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': breadcrumbs  } %}
{% endblock %}


{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar','PhysicalEvents') %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
		
	<h2>{{  venue.title }}</h2>

	{%  if venueIsDuplicateOf %}
		<div class="flash-notice">
			This venue is a duplicate of <a href="/venue/{{  venueIsDuplicateOf.slugForURL }}">{{  venueIsDuplicateOf.title }}</a>.
		</div>
	{% endif %}

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/venue/{{ venue.slugForUrl }}">Details &amp; Events</a></li>
			{% if currentUserActions.has("org.openacalendar","venueHistory") %}<li class="tab {% block tabHistory %}{% endblock %}"><a href="/venue/{{ venue.slugForUrl }}/history">History of changes</a></li>{% endif %}
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">
		var exportData = { venue:{{ venue.slug }} , venueSlugURL: "{{  venue.slugForURL | e('js') }}" , venueTitle: "{{  venue.title | e('js') }}" {% if country is not null %}, country: "{{ country.twoCharCode }}", countryTitle: "{{  country.title | e('js') }}"  {% endif %} }
	</script>
{% endblock %}

