{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/venue">venues</a></li>
	<li><a href="/country/{{ country.twoCharCode }}/">{{ country.title }}</a></li>
	{% for parentArea in parentAreas %}<li><a href="/area/{{ parentArea.slug }}">{{ parentArea.title }}</a></li>{% endfor %}
	{% if area %}<li class="current"><a href="/area/{{ area.slugForUrl }}">{{ area.title }}</a></li>{% endif %}
	<li class="current"><a href="/venue/{{ venue.slugForUrl }}">{{ venue.title }}</a></li>
{% endblock %}


{% block content %}

	{% if not currentSite.isFeaturePhysicalEvents %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
		
	<h2>{{  venue.title }}</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/venue/{{ venue.slugForUrl }}">Details</a></li>
			<li class="tab"><a href="/venue/{{ venue.slugForUrl }}/calendar">Calendar</a></li>
			{% if currentUserActions.has("org.openacalendar","venueHistory") %}<li class="tab {% block tabHistory %}{% endblock %}"><a href="/venue/{{ venue.slugForUrl }}/history">History of changes</a></li>{% endif %}
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">
		var exportData = { venue:{{ venue.slug }} , venueSlugURL: "{{  venue.slugForURL | e('js') }}" , venueTitle: "{{  venue.title | e('js') }}" {% if country is not null %}, country: "{{ country.twoCharCode }}", countryTitle: "{{  country.title | e('js') }}"  {% endif %} }
	</script>
{% endblock %}

