{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'site/venue/page.html.twig' %}

{% block pageTitle %}{{ venue.title }} - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/venue/{{ venue.slugForUrl }}/" />
	{% if not currentSite.isWebRobotsAllowed or venue.isDeleted %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	{% include 'site/common/mapLibrary.css.html.twig' %}
{% endblock %}

{% block actions %}
	{% if currentUserActions.has("org.openacalendar","venueDelete") %}
		<li class="action"><a href="/venue/{{ venue.slugForUrl }}/delete"><div class="iconTrashOSmall"></div> delete</a></li>
	{%  endif %}
	{%  if currentUserActions.has("org.openacalendar","venueEditDetails") %}
		<li class="action"><a href="/venue/{{ venue.slugForUrl }}/edit"><div class="iconPencilSmall"></div> edit</a></li>
	{%  endif %}
	{% if currentUserActions.has("org.openacalendar","venueEditMedia") %}
		<li class="action">
			<a href="/venue/{{ venue.slugForUrl }}/media"><div class="iconFileImageOSmall"></div> media</a>
		</li>
	{% endif %}
	<li class="action">
		<a href="/api1/venue/{{ venue.slug }}/events.ical" onclick="showExportPopup(); return false;">
			<div class="iconDownloadSmall"></div> export
		</a>
	</li>
	{% if currentSite.getIsWebRobotsAllowed %}
		<li class="action">
			<a href="#" onclick="showSharePopup(); return false;">
				<div class="iconShareSmall"></div> share
			</a>
		</li>
	{% endif %}
{% endblock %}

{% block tabDetails %}currentTab{% endblock %}
		
{% block innerContent %}


	<div class="event" itemscope itemtype="http://schema.org/Place">
		<meta itemprop="name" content="{{ venue.title|e('html_attr') }}" />
			
		<div id="innerPageLeft" class="venue">


			{% if currentUserActions.has("org.openacalendar","venueEditPushToChildAreas") %}
				<div id="userCanPushToChildAreaWrapper">
					<p>Is "{{ venue.title }}" in one of these places?</p>
					<form action="/venue/{{ venue.slugForUrl }}/moveToArea" method="post" id="PushToChildAreaForm">
						{%  include 'site/common/pushToChildArea.html.twig' %}
					</form>
				</div>
			{% endif %}

			<p itemprop="description">{{ venue.description | nl2br  | linkify }}</p>

			<div id="Map" class="map"></div>

			<div class="locationWrapper">
				<div class="location" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					{% if venue.address %}<div class="address">{{ venue.address | nl2br }}</div>{% endif %}
					{% if area %}
						<div class="area"><a href="/area/{{ area.slugForUrl }}">{{ area.title }}</a></div>
					{% endif %}
					{% for parentArea in parentAreas|reverse %}
						<div class="area"><a href="/area/{{ parentArea.slugForUrl }}">{{ parentArea.title }}</a></div>
					{% endfor %}	
					{% if venue.addressCode %}<div class="addressCode" itemprop="postalCode">{{ venue.addressCode  }}</div>{% endif %}
					{% if country %}
						<div class="country" itemprop="addressCountry">
							<a href="/country/{{ country.twoCharCode }}">{{ country.title }} <img src="/theme/default/img/countries/{{ country.twoCharCode|lower }}.png" alt="Flag"></a>
						</div>
					{% endif %}	
				</div>
			</div>
			
			{% if medias %}
				<ul class="mediaGrid">
					{% for media in medias %}
						<li><a href="/media/{{ media.slug }}" onclick="showMediaPopup({{ media.slug }}); return false;"><img src="/media/{{ media.slug }}/thumbnail"></a></li>	
					{% endfor %}
				</ul>
				<div class="afterMediaGrid"></div>
			{% endif %}
			
		</div>
			
		<div id="innerPageRight">

			{% include '/site/eventListFilterParams.html.twig' %}

			<ul class="events">
				{% for event in events %}
					{% include '/site/common/eventListing.html.twig' with {'event':event, 'showCurrentUserOptions':true}  %}
				{% else %}
					<li>
						No events found.
					</li>		
				{% endfor %}
			</ul>
		
		</div>
	
	</div>


{% endblock %}


{% block scriptsForState %}
	{% include '/site/common/mediasJavaScriptInformation.html.twig' with { medias:medias } %}
	{{ parent() }}
{% endblock %}		
		
{% block scripts %}
	<script src="/theme/default/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	<script type="text/javascript">
		{% if venue.lat is not null and venue.lng is not null %}
			var mapData = { lat: {{ venue.lat }}, lng: {{ venue.lng }} }
		{% else %}
			var mapData = { lat: null, lng:null }
		{% endif %}
	</script>
	{% include 'site/common/mapLibrary.js.html.twig' %}
	<script type="text/javascript" src="/theme/default/js/venueshow.js?v={{ config.assetsVersion }}"></script>
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
	<script src="/theme/default/js/mediaPopup.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	{%  if currentUserActions.has("org.openacalendar","venueEditPushToChildAreas") %}
		<script src="/theme/default/js/pushToChildArea.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	{%  endif %}
{% endblock %}




