{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'site/venue/page.mainTab.html.twig' %}

{% block pageTitle %}{{ venue.title }} - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/venue/{{ venue.slugForUrl }}/" />
	{% if not currentSite.isWebRobotsAllowed or venue.isDeleted %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	{% include 'site/common/mapLibrary.css.html.twig' %}
	{{ parent() }}
{% endblock %}

{% block switcherAgenda %}current{% endblock %}

{% block tabDetails %}currentTab{% endblock %}

{% block eventsContent %}

	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true}  %}
		{% else %}
			<li class="nodata">
				<p>
					{%  if not eventListFilterParams.isDefaultFilters %}
						{%  set eventsDefaultCount = venue|futureeventscount %}
						{%  if eventsDefaultCount == 1 %}
							No events found with that filter. Do you want to see <a href="/venue/{{  venue.slugForURL }}">the one future event</a> instead?
						{%  elseif eventsDefaultCount > 1 %}
							No events found with that filter. Do you want to see <a href="/venue/{{  venue.slugForURL }}">the {{ eventsDefaultCount }} future events</a> instead?
						{%  else %}
							No events found.
						{%  endif %}
					{%  else  %}
						No events found.
					{%  endif %}
				</p>

				{%  if eventListFilterParams.isDefaultFilters %}
					{%  set eventsPastCount = venue|pasteventscount %}
					{%  if eventsPastCount == 1 %}
						<p>(Sorry, you've already missed 1 event.)</p>
					{% elseif eventsPastCount > 1 %}
						<p>(Sorry, you've already missed {{ eventsPastCount  }} events.)</p>
					{%  endif %}
				{%  endif %}
			</li>
		{% endfor %}
	</ul>

{% endblock %}


{% block scriptsForState %}
	{{ parent() }}
{% endblock %}		
		
{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}




