{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}API2 Apps - {% endblock %}

{% block content %}

	<table class="data">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>&nbsp;</th>
		</tr>
		{% for api2app in api2apps %}
			<tr {% if loop.index is even %}class="alternative"{% endif %} >
				<td>{{ api2app.id }}</td>
				<td>{{ api2app.title }}</td>
				<td>
					<a href="/sysadmin/api2app/{{ api2app.id }}" class="button">Show</a>
				</td>
			</tr>
		{% endfor %}
	</table>

	<form action="#" method="post" class="action">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<input type="submit" name="New App" />
	</form>

{% endblock %}

