{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/eventlist/page.mainTab.html.twig' %}


{% block pageTitle %}Events - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/event/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}


{% block switcherAgenda %}current{% endblock %}


{% block eventsContent %}

	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
		{% else %}
			<li class="nodata">
				<p>
					{%  if not eventListFilterParams.isDefaultFilters %}
						{%  set eventsDefaultCount = null|futureeventscount %}
						{%  if eventsDefaultCount == 1 %}
							No events found with that filter. Do you want to see <a href="/event">the one future event</a> instead?
						{%  elseif eventsDefaultCount > 1 %}
							No events found with that filter. Do you want to see <a href="/event">the {{ eventsDefaultCount }} future events</a> instead?
						{%  else %}
							No events found.
						{%  endif %}
					{%  else  %}
						No events found.
					{%  endif %}
				</p>

				{%  if eventListFilterParams.isDefaultFilters %}
					{%  set eventsPastCount = null|pasteventscount %}
					{%  if eventsPastCount == 1 %}
						<p>(Sorry, you've already missed 1 event here.)</p>
					{% elseif eventsPastCount > 1 %}
						<p>(Sorry, you've already missed {{ eventsPastCount  }} events here.)</p>
					{%  endif %}
				{%  endif %}
				{% if currentUserActions.has("org.openacalendar","eventNew") %}<p>Why not <a href="/event/new">add one</a>?</p>{% endif %}
			</li>
		{% endfor %}
	</ul>

{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = {}</script>
{% endblock %}


{% block scripts %}
	<script src="/theme/default/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}
	
