{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}New Event Draft {{  draft.slug }} - {% endblock %}

{% block breadcrumbs %}
	<li><a href="/sysadmin/site/{{ site.id }}/">{{ site.title }}</a></li>
	<li><a href="/sysadmin/site/{{ site.id }}/neweventdraft">new event drafts</a></li>
	<li class="current"><a href="/sysadmin/site/{{ site.id }}/neweventdraft/{{  draft.slug }}">new event draft {{  draft.slug }}</a></li>
{% endblock %}

{% block content %}


<table class="oneData">
	<tr>
		<th>ID</th>
		<td>{{ draft.id }}</td>
	</tr>
	<tr>
		<th>Slug</th>
		<td>{{ draft.slug }}</td>
	</tr>
	{%  if user %}
		<tr>
			<th>User</th>
			<td><a href="/sysadmin/user/{{  user.id }}/">{{ user.username }}</a></td>
		</tr>

	{%  endif %}
	<tr>
		<th>Details</th>
		<td>&nbsp;</td>
	</tr>
	{%  for k,v in draft.getDetails %}
		<tr>
			<th>&nbsp;</th>
			<td>{{  k }}</td>
			<td>{{ v }}</td>
		</tr>
	{%  endfor %}
	{%  if eventCreated %}
		<tr>
			<th>Is Event </th>
			<td><a href="/sysadmin/site/{{  site.id }}/event/{{  eventCreated.slug }}">{{  eventCreated.summaryDisplay }}</a></td>
		</tr>
	{%  endif %}
	{%  if eventDupe %}
		<tr>
			<th>Is Duplicate Of Event</th>
			<td><a href="/sysadmin/site/{{  site.id }}/event/{{  eventDupe.slug }}">{{  eventDupe.summaryDisplay }}</a></td>
		</tr>
	{%  endif %}
</table>

{%  endblock %}
