{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/import">import from web</a></li>
	<li class="current"><a href="/import/{{ import.slug }}">{{ import.title }}</a></li>
{% endblock %}


{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar','Importer') %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}

	<h2>{{  import.title }} ({% if not import.isEnabled %}disabled{% elseif import.expiredat %}expired{% else %}enabled{% endif %})</h2>

	{% if group %}
		<ul class="underTitleGroupListing">
			<li>Importing to <a href="/group/{{ group.slugForUrl }}" class="title">{{ group.title }}</a></li>
		</ul>
	{% endif %}

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/import/{{ import.slug }}">Details</a></li>
			{% if currentUserActions.has("org.openacalendar","importLog") %}
				<li class="tab {% block tabLog %}{% endblock %}"><a href="/import/{{ import.slug }}/log">Log</a></li>
			{% endif %}
			<li class="tab {% block tabImportedEvents %}{% endblock %}"><a href="/import/{{ import.slug }}/importedevent">Imported Events</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}

