{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block htmlHeader %}
	{%  if country %}<meta name="openacalendar:country:code" content="{{  country.twoCharCode }}" />{% endif %}
	<meta name="openacalendar:area:slug" content="{{  area.slugForURL}}" />
{%  endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	{% if currentSite.cachedIsMultipleCountries %}<li><a href="/country/">countries</a></li>{% endif %}
	<li><a href="/country/{{ country.twoCharCode }}/">{{ country.title }}</a></li>
	{% for parentArea in parentAreas %}<li><a href="/area/{{ parentArea.slugForUrl }}">{{ parentArea.title }}</a></li>{% endfor %}
	<li class="current"><a href="/area/{{ area.slugForUrl }}">{{ area.title }}</a></li>
{% endblock %}


{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar','PhysicalEvents') %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
		
	<h2>{{  area.title }}</h2>
	
	{%  if areaIsDuplicateOf %}
		<div class="flash-notice">
			This area is a duplicate of <a href="/area/{{  areaIsDuplicateOf.slugForURL }}">{{  areaIsDuplicateOf.title }}</a>.
		</div>
	{% endif %}
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="action">
				<a href="/api1/area/{{ area.slug }}/events.ical" onclick="showExportPopup(); return false;">
					<div class="fa fa-download"></div> export
				</a>
			</li>
			{% if currentSite.getIsWebRobotsAllowed %}
				<li class="action">
					<a href="#" onclick="showSharePopup(); return false;">
						<div class="fa fa-share"></div>  share
					</a>
				</li>
			{% endif %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/area/{{ area.slugForUrl }}">Details</a></li>
			<li class="tab"><a href="/area/{{ area.slugForUrl }}/calendar">Calendar</a></li>
			{%  if currentUserActions.has("org.openacalendar","areaHistory") %}<li class="tab {% block tabHistory %}{% endblock %}"><a href="/area/{{ area.slugForUrl }}/history">History of changes</a></li>{%  endif %}
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">
		var exportData = { area:{{ area.slug }} , areaSlugURL: "{{ area.slugForURL | e('js') }}" , areaTitle: "{{  area.title | e('js') }}", country: "{{ country.twoCharCode }}", countryTitle: "{{  country.title | e('js') }}"  };
		var areaData = { slug: {{ area.slug }},
					maxLat: {% if area.maxLat %}{{ area.maxLat }}{% else %}null{% endif %},
					maxLng: {% if area.maxLng %}{{ area.maxLng }}{% else %}null{% endif %}, 
					minLat: {% if area.minLat %}{{ area.minLat }}{% else %}null{% endif %},
					minLng: {% if area.minLng %}{{ area.minLng }}{% else %}null{% endif %} };
	</script>
{% endblock %}

