{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/area/page.html.twig' %}

{% block pageTitle %}{{ area.title }} - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/area/{{ area.slugForUrl }}/" />
	{% if not currentSite.isWebRobotsAllowed or area.isDeleted %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	{% include 'site/common/mapLibrary.css.html.twig' %}
{% endblock %}

{% block actions %}
	{% if currentUserActions.has("org.openacalendar","actionAreaEditDetails") %}
		<li class="action">
			<a href="/area/{{ area.slugForUrl }}/edit"><div class="iconPencilSmall"></div> edit</a>
		</li>
	{%  endif %}
	{%  if currentUserActions.has("org.openacalendar","actionAreaNew") %}
		<li class="action">
			<a href="/area/{{ area.slugForUrl }}/new"><div class="iconPencilSmall"></div> new</a>
		</li>
	{% endif %}
{% endblock %}

{% block tabDetails %}currentTab{% endblock %}
		
{% block innerContent %}


	<div itemscope itemtype="http://schema.org/Place">
		<meta itemprop="name" content="{{ area.title|e('html_attr') }}" />


		<div  id="innerPageLeft" class="venue">
			<p>{{ area.description | nl2br  | linkify }}</p>

			<div id="MapWrapper">
				<div id="Map" class="map"></div>
				{% if currentSite.isFeatureMap %}
					<p class="largerMapLink"><a href="/map?area={{ area.slug }}">View larger map</a></p>
				{% endif %}
			</div>

			{% include 'site/common/areaList.html.twig' with { 'areasToList':childAreas} %}

			<div class="locationWrapper">
				<div class="location">
					<div class="area"><a href="/area/{{ area.slugForUrl }}">{{ area.title }}</a></div>
					{% for parentArea in parentAreas|reverse %}
						<div class="area"><a href="/area/{{ parentArea.slugForUrl }}">{{ parentArea.title }}</a></div>
					{% endfor %}
					<div class="country"><a href="/country/{{ country.twoCharCode }}">{{ country.title }} <img src="/theme/default/img/countries/{{ country.twoCharCode|lower }}.png" alt="Flag"></a></div>
				</div>
			</div>

		</div>
		
		<div  id="innerPageRight">

			{% include '/site/eventListFilterParams.html.twig' %}

			<ul class="events">
				{% for event in events %}
					{% include '/site/common/eventListing.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
				{% else %}
					<li>
						No events found.
					</li>
				{% endfor %}
			</ul>

		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="/theme/default/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
	{% include 'site/common/mapLibrary.js.html.twig' %}
	<script src="/theme/default/js/areaShow.js?v={{ config.assetsVersion }}" type="text/javascript"></script>	
{% endblock %}




