{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div class="currentUserAttendance" id="currentUserAttendanceForEvent{{ event.slug }}">
	<a href="{{ config.getWebSiteDomainSecure(event.siteSlug) }}/event/{{ event.slug }}" onclick="showCurrentUserAttendanceForEvent({ slug: {{ event.slug }}, site: '{{ currentSite.slug |e('js')}}' }); return false;" class="activationLinkWrapper">
		{% if event.userIsPlanAttending %}
			<div class="iconUserAttendingSmall" title="You are attending"></div>
		{% elseif event.userIsPlanMaybeAttending %}
			<div class="iconUserMaybeAttendingSmall" title="You are maybe attending"></div>
		{% else %}
			<div class="iconUserNotAttendingSmall" title="You are not attending"></div>
		{% endif %}
	</a>
</div>
