{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/group/page.html.twig' %}

{% block pageTitle %}Edit {{ group.title }} - {% endblock %} 


{% block innerContent %}

	{# We don't client side validate any form with URL fields to get around UI/UX bug. See https://github.com/OpenACalendar/OpenACalendar-Web-Core/issues/221  #}
	<form action="#" method="post" class="styled" novalidate="novalidate">

		{{ form_errors(form) }}

		{{ form_row(form.title) }}
		{{ form_row(form.description) }}
		{{ form_row(form.url) }}
		{{ form_row(form.twitterUsername) }}
		{{ form_rest(form) }}

		<input type="submit"  value="Save" />	
	</form>



{% endblock %}

