{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/group/page.html.twig' %}


{% block pageTitle %}Edit {{ group.title }} - {% endblock %}

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ parent() }}
{% endblock %}

{% block innerContent %}
	<ul class="actionList">

		{%  if currentUserActions.has("org.openacalendar","groupEditDetails") %}
			<li><a href="/group/{{ group.slugForUrl }}/edit/details"><div class="fa fa-pencil"></div> Edit Details</a></li>
		{%  endif %}
		{%  if currentUserActions.has("org.openacalendar","groupEditCuratedLists") %}
			<li><a href="/group/{{ group.slugForUrl }}/edit/curatedlists"><div class="fa fa-pencil"></div> Edit Curated Lists</a></li>
		{%  endif %}
		{%  if currentUserActions.has("org.openacalendar","groupEditMedia") %}
			<li><a href="/group/{{ group.slugForUrl }}/edit/media"><div class="fa fa-pencil"></div> Edit Media</a></li>
		{%  endif %}
	</ul>
{% endblock %}

