{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block htmlHeader %}
	<meta name="openacalendar:group:slug" content="{{  group.slugForURL}}" />
{%  endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/group', 'label':'groups' }, {'url':'/group/'~ group.slugForURL, 'label': group.title } ]  } %}
{% endblock %}


{% block content %}

	{% if not currentSiteFeatures.has('org.openacalendar','Group') %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>{{  group.title }}</h2>

	{%  if groupIsDuplicateOf %}
		<div class="flash-notice">
			This group is a duplicate of <a href="/group/{{  groupIsDuplicateOf.slugForURL }}">{{  groupIsDuplicateOf.title }}</a>.
		</div>
	{% endif %}

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/group/{{ group.slugForUrl }}">Details &amp; Events</a></li>
			{%  if currentUserActions.has("org.openacalendar","groupHistory") %}<li class="tab {% block tabHistory %}{% endblock %}"><a href="/group/{{ group.slugForUrl }}/history">History of changes</a></li>{%  endif %}
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = { group:{{ group.slug }}, groupSlugURL:"{{ group.slugForURL|e('js') }}", groupTitle:"{{ group.title|e('js') }}" , groupTwitterUsername:"{{ group.twitterUsername|e('js') }}"}</script>
{% endblock %}

