{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/group">groups</a></li>
	<li class="current"><a href="/group/{{ group.slugForUrl }}">{{ group.title }}</a></li>
{% endblock %}


{% block content %}

	{% if not currentSite.isFeatureGroup %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>{{  group.title }}</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/group/{{ group.slugForUrl }}">Details</a></li>
			<li class="tab"><a href="/group/{{ group.slugForUrl }}/calendar">Calendar</a></li>
			{%  if currentUserActions.has("org.openacalendar","groupHistory") %}<li class="tab {% block tabHistory %}{% endblock %}"><a href="/group/{{ group.slugForUrl }}/history">History of changes</a></li>{%  endif %}
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = { group:{{ group.slug }}, groupSlugURL:"{{ group.slugForURL|e('js') }}", groupTitle:"{{ group.title|e('js') }}" , groupTwitterUsername:"{{ group.twitterUsername|e('js') }}"}</script>
{% endblock %}

