{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/group/page.mainTab.html.twig' %}

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/group/{{ group.slugForUrl }}/" />
	{% if not currentSite.isWebRobotsAllowed or group.isDeleted %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	<link rel="stylesheet" type="text/css" href="/theme/default/css/curatedlists.css?v={{ config.assetsVersion }}">
	{{ parent() }}
{% endblock %}

{% block switcherAgenda %}current{% endblock %}

{% block eventsContent %}

		<ul class="mainListEvents">
			{%  if events|length > 0 %}
				{% for event in events %}
					{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
				{% endfor %}
				{% if isGroupRunningOutOfFutureEvents and currentUserActions.has("org.openacalendar","groupNewEvent") %}
					<li class="nodata">
						<p>
							{# the search filters could be showing old events, so it could be true there are event to show AND there are no future events #}
							{% if isGroupRunningOutOfFutureEvents == 1 %}
								We are about to run out of future events!
							{% else %}
								We don't know of any future events.
							{% endif %}
						</p>
						<p>
							You can <a href="/event/new?group={{ group.slug }}">create a new event</a> or look for an old event and select "recur".
						</p>
					</li>
				{%  endif %}
			{% else %}
				<li class="nodata">
					<p>
						{%  if not eventListFilterParams.isDefaultFilters %}
							{%  set eventsDefaultCount = group|futureeventscount %}
							{%  if eventsDefaultCount == 1 %}
								No events found with that filter. Do you want to see <a href="/group/{{  group.slugForURL }}">the one future event</a> instead?
							{%  elseif eventsDefaultCount > 1 %}
								No events found with that filter. Do you want to see <a href="/group/{{  group.slugForURL }}">the {{ eventsDefaultCount }} future events</a> instead?
							{%  else %}
								No events found.
							{%  endif %}
						{%  else  %}
							No events found.
						{%  endif %}
					</p>

					{%  if eventListFilterParams.isDefaultFilters %}
						{%  set eventsPastCount = group|pasteventscount %}
						{%  if eventsPastCount == 1 %}
							<p>(Sorry, you've already missed 1 event.)</p>
						{% elseif eventsPastCount > 1 %}
							<p>(Sorry, you've already missed {{ eventsPastCount  }} events.)</p>
						{%  endif %}
					{%  endif %}
				</li>
			{% endif %}
		</ul>

{% endblock %}

		
{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}

