{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}


{% block pageTitle %} API2 App {{ api2Application.title }} - {% endblock %}



{% block content %}


	<table class="oneData">
		<tr>
			<th>ID</th>
			<td>{{ api2Application.id }}</td>
		</tr>
		<tr>
			<th>User</th>
			<td>{{ api2Application.userId }}</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>{{ api2Application.title }}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{ api2Application.description| nl2br }}</td>
		</tr>
		<tr>
			<th>App Token</th>
			<td>{{ api2Application.appToken }}</td>
		</tr>
		<tr>
			<th>App Secret</th>
			<td>{{ api2Application.appSecret }}</td> {# TODO Some JS show thing please #}
		</tr>			
		<tr>
			<th>Is auto approve</th>
			<td>{% if api2Application.isAutoApprove %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>	
		<tr>
			<th>is_editor</th>
			<td>{% if api2Application.isEditor %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>
		<tr>
			<th>is_callback_display</th>
			<td>{% if api2Application.isCallbackDisplay %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>
		<tr>
			<th>is_callback_javascript</th>
			<td>{% if api2Application.isCallbackJavascript %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>
		<tr>
			<th>is_callback_url</th>
			<td>{% if api2Application.isCallbackUrl %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>
		<tr>
			<th>callback_urls</th>
			<td>{{  api2Application.allowedCallbackUrls | nl2br }}</td>
		</tr>
		<tr>
			<th>More</th>
			<td>
				<ul>
					<li><a href="/sysadmin/api2app/{{ api2Application.id }}/history">History</a></li>
				</ul>
			</td>
		</tr>
	</table>


	<form action="#" method="post" class="action">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<input type="submit" name="Do Action" />
	</form>

	<ul class="actionHelp">
		<li>close  <span class="param">reason</a></li>
		<li>open</li>
		<li>autoapprove <span class="param">boolean</a></li>
		<li>permissioneditor <span class="param">boolean</a></li>
		<li>iscallbackdisplay <span class="param">boolean</a></li>
		<li>iscallbackjavascript <span class="param">boolean</a></li>
		<li>iscallbackurl <span class="param">boolean</a></li>
		<li>addcallbackurl <span class="param">url</a></li>
		<li>removecallbackurl <span class="param">url</a></li>
	</ul>


{% endblock %}


