{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block htmlHeader %}
	<meta name="openacalendar:tag:slug" content="{{  tag.slugForURL}}" />
{%  endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/tag">tags</a></li>
	<li class="current"><a href="/tag/{{ tag.slugForURL }}">{{ tag.title }}</a></li>
{% endblock %}


{% block content %}

	{% if not currentSite.isFeatureTag %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>{{  tag.title }}</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% if currentUserActions.has("org.openacalendar","tagEdit") %}
				<li class="action"><a href="/tag/{{ tag.slugForUrl }}/edit"><div class="iconPencilSmall"></div> edit</a></li>
			{% endif %}
			{% if currentUserActions.has("org.openacalendar","tagDelete") %}
				<li class="action"><a href="/tag/{{ tag.slugForUrl }}/delete"><div class="iconTrashOSmall"></div> delete</a></li>
			{% endif %}
			{% if currentUserActions.has("org.openacalendar","tagUndelete") %}
				<li class="action"><a href="/tag/{{ tag.slugForUrl }}/undelete"><div class="iconTrashOSmall"></div> undelete</a></li>
			{% endif %}
			{% block actions %}{% endblock %}
			<li class="action">
				<a href="/api1/tag/{{ tag.slug }}/events.ical" onclick="showExportPopup(); return false;">
					<div class="iconDownloadSmall"></div> export
				</a>
			</li>
			{% if currentSite.getIsWebRobotsAllowed %}
				<li class="action">
					<a href="#" onclick="showSharePopup(); return false;">
						<div class="iconShareSmall"></div>  share
					</a>
				</li>
			{% endif %}	
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/admin/tag/{{ tag.slugForUrl }}">Details</a></li>
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}


{% block scriptsForState %}
	<script type="text/javascript">var exportData = { tag:{{ tag.slug }}, tagSlugURL:"{{ tag.slugForURL|e('js') }}", tagTitle:"{{ tag.title|e('js') }}" }</script>
{% endblock %}

