
{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/tag/page.html.twig' %}

{% block pageTitle %}{{ tag.title }} - {% endblock %} 


{% block htmlHeader %}
	{{ parent() }}
{% endblock %}

{% block tabDetails %}currentTab{% endblock %}
	
{% block actions %}
{% endblock %}


{% block innerContent %}

	<div class="mainShowTag">

		<p>{{ tag.description | nl2br  | linkify }}</p>

		{% include '/site/eventListFilterParams.html.twig' %}

		<ul class="mainListEvents">
			{% for event in events %}
				{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
			{% else %}
				<li class="nodata">
					<p>
						{%  if not eventListFilterParams.isDefaultFilters %}
							{%  set eventsDefaultCount = tag|futureeventscount %}
							{%  if eventsDefaultCount == 1 %}
								No events found with that filter. Do you want to see <a href="/tag/{{  tag.slugForURL }}">the one future event</a> instead?
							{%  elseif eventsDefaultCount > 1 %}
								No events found with that filter. Do you want to see <a href="/tag/{{  tag.slugForURL }}">the {{ eventsDefaultCount }} future events</a> instead?
							{%  else %}
								No events found.
							{%  endif %}
						{%  else  %}
							No events found.
						{%  endif %}
					</p>

					{%  if eventListFilterParams.isDefaultFilters %}
						{%  set eventsPastCount = tag|pasteventscount %}
						{%  if eventsPastCount == 1 %}
							<p>(Sorry, you've already missed 1 event.)</p>
						{% elseif eventsPastCount > 1 %}
							<p>(Sorry, you've already missed {{ eventsPastCount  }} events.)</p>
						{%  endif %}
					{%  endif %}
				</li>					
			{% endfor %}
		</ul>

	</div>

{% endblock %}

