{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Groups - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/group/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/group">groups</a></li>
{% endblock %}

{% block content %}

	{% if not currentSite.isFeatureGroup %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>Groups</h2>

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% if currentUserCanEditSite and currentSite.isFeatureGroup %}
				<li class="action">
					<a href="/group/new"><img src="/img/actionIcon.png?v={{ config.assetsVersion }}" class="icon"> new</a>
				</li>
			{% endif %}
			<li class="tab currentTab">List</li>
		</ul>
		<div id="innerPage">
			 
			{% include '/site/groupListFilterParams.html.twig' %}
			
			<ul class="groups">
				{% for group in groups %}
					<li class="group">
						<div class="title"><a href="/group/{{ group.slug }}">{{ group.title }}</a></div>
						{{ group.description | nl2br }}
					</li>
				{% else %}
					<li>
						There are no groups.
						{% if currentUserCanEditSite %}Why not <a href="/group/new">add one</a>?{% endif %}
					</li>								
				{% endfor %}
			</ul>

			<div id="afterInnerPageContent"></div>
		</div>
	</div>



{% endblock %}

