{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Area {{ area.title }} - {% endblock %}

{% block content %}


	<table class="oneData">
		<tr>
			<th>ID</th>
			<td>{{ area.id }}</td>
		</tr>
		<tr>
			<th>Slug</th>
			<td>{{ area.slug }}</td>
		</tr>
		{% if country %}
		<tr>
			<th>Country</th>
			<td>{{ country.title }}</td>
		</tr>
		{% endif %}
		{% if parentarea %}
		<tr>
			<th>Parent Area</th>
			<td><a href="/sysadmin/site/{{ site.id }}/area/{{ parentarea.slug }}">{{ parentarea.title }}</a></td>
		</tr>
		{% endif %}
		<tr>
			<th>Deleted</th>
			<td>{% if area.isDeleted %}Deleted{% else %}-{% endif %}</td>
		</tr>
		<tr>
			<th>Is Duplicate of</th>
			<td>{% if area.isDuplicateOfId %}<a href="/sysadmin/site/{{ site.id }}/area/{{ areaisduplicateof.slug }}/">{{  areaisduplicateof.title }}</a>{% else %}-{% endif %}</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>{{ area.title }}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{ area.description | nl2br }}</td>
		</tr>
		<tr>
			<th>More</th>
			<td>

			</td>
		</tr>		
	</table>


	<form action="#" method="post" class="action">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<input type="submit" name="Do Action" />
	</form>

	<ul class="actionHelp">
		<li>delete</li>
		<li>undelete</li>
		<li>parentarea slug</li>
		<li>isduplicateof <span class="param">SLUG</span></li>
	</ul>


{% endblock %}


