{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/currentuser/page.html.twig' %}

{% block pageTitle %}You - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'index/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/me', 'label':'your account' } ]  } %}
{% endblock %}


{% set currentUserPrivateFeedKey = getCurrentUserPrivateFeedKey() %}


{% block innerContent %}

	<div class="innerPageLeft">

		<p>Welcome.</p>

	</div>

	<div class="innerPageRight">

		<ul class="actionList">
			<li><a href="/me/notification"><div class="fa fa-bell-o fa-2x"></div> Notifications</a></li>
			<li class="header">Your Personal Events</li>
			<li><a href="/me/agenda"><div class="fa fa-calendar-o fa-2x"></div> View</a></li>
			<li>
				<a href="/api1/person/{{ currentUser.username }}/private/{{ currentUserPrivateFeedKey.accessKey }}/events.aw.ical" onclick="showExportPopup(); return false;">
					<div class="fa fa-download fa-2x"></div> Export
				</a>
			</li>
			<li class="header">Your account</li>
			{% if not config.isSingleSiteMode %}
				<li><a href="/me/sites"><div class="fa fa-calendar-o fa-2x"></div> Calendars</a></li>
			{% endif %}
			<li><a href="/me/password"><div class="fa fa-key fa-2x"></div> Change Password</a></li>
			<li><a href="/me/emails"><div class="fa fa-envelope-o fa-2x"></div> Emails we send you</a></li>
			<li><a href="/me/prefs"><div class="fa fa-cogs fa-2x"></div> Preferences</a></li>
			<li><a href="/person/{{ currentUser.username }}"><div class="fa fa-user fa-2x"></div> View your public profile</a></li>
		</ul>

	</div>

	<div class="afterInnerPageContent"></div>



{% endblock %}

{% block scriptsForState %}
	<script type="text/javascript">var exportData = {user:'{{ currentUser.username }}', userAccessKey: '{{ currentUserPrivateFeedKey.accessKey }}'}</script>
{% endblock %}


