{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Notifications - {% endblock %} 

{% block breadcrumbs %}
	<li><a href="/me/">your account</a></li>
	<li class="current"><a href="/me/notification">notifications</a></li>
{% endblock %}


{% block content %}
	<ul class="usernotifications">
		{% for notification in notifications  %}
			<li class="usernotification{% if notification.isRead %}read{% else %}unread{% endif %}">
				<a href="/me/notification/{{ notification.id }}" class="title">{{ notification.notificationText }}</a>
				<div class="timesince">{{ notification.createdAt | timesinceinwords }}</div>
				{% if not config.isSingleSiteMode %}
					<div class="site"><a href="{{ config.getWebSiteDomainSecure(notification.site.slug) }}">{{ notification.site.title }}</a></div>
				{% endif %}
			</li>
		{% else %}
			<li>You have no notifications</li>
		{% endfor %}
	</ul>
{% endblock %}


