{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/currentuser/page.html.twig' %}

{% block pageTitle %}Calendars - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'index/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/me', 'label':'your account' }, { 'url':'/me/sites','label':'calendars' } ]  } %}
{% endblock %}



{% block innerContent %}


	<div class="innerPageLeft">

		<ul class="sites">
			{% for site in sites %}
				<li class="site">
					<a href="{{ config.getWebSiteDomainSecure(site.slug) }}" class="title">
						<span class="logoWrapper"><img src="{{ config.getWebSiteDomainSecure(site.slug) }}/getLogo.php?v={{ site.logoCacheKey }}" alt="logo"></span>
						<span class="titleWrapper">{{ site.title }}</span>
					</a>
					<a href="{{ config.getWebSiteDomainSecure(site.slug) }}" class="link">
						View
					</a>
				</li>
			{% endfor %}
		</ul>


	</div>

	<div class="innerPageRight">


	</div>

	<div class="afterInnerPageContent"></div>





{% endblock %}
