{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'sysadmin/page.html.twig' %}

{% block content %}

	<h2>{{  report.reportTitle }}</h2>

	 <table class="data">
		 <tr>
			 <td>Start</td>
			 <td>{%  if filterStartAt %}{{  filterStartAt | tolocaltimeformatted('Y-m-d H:i:s', 'Europe/London')  }}{%  endif %}</td>
		 </tr>
		 <tr>
			 <td>End</td>
			 <td>{%  if filterEndAt %}{{  filterEndAt | tolocaltimeformatted('Y-m-d H:i:s', 'Europe/London')  }}{%  endif %}</td>
		 </tr>
		 <tr>
			 <td>Site ID</td>
			 <td>{%  if filterSiteId %}{{  filterSiteId  }}{%  endif %}</td>
		 </tr>
	 </table>

	<p>Value {{  report.data }}</p>

{% endblock %}


