{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	</head>
	<body style="padding: 0px; font-family: arial, sans-serif;">
		<div id="header" style="padding: 10px 25px; margin: 5px; background-color: {{ themeVariables.colourMain  }}; background-image: -webkit-linear-gradient(top,  {{ themeVariables.colourLighter1 }},  {{ themeVariables.colourMain }}); background-image: linear-gradient(to bottom,  {{ themeVariables.colourLighter1 }},  {{ themeVariables.colourMain }}); border-bottom:   {{ themeVariables.colourDarker2 }} 2px solid;">
			{% if currentSite is defined and currentSite is not null %}
				<a href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}" style="text-decoration: none; color: black;">
					{% if config.isSingleSiteMode %}
						<img src="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/theme/default/img/logo.png?v={{ currentSite.logoCacheKey }}" alt="Logo" style="max-height: 30px; max-width: 30px; border: 0;">
						<h1 style="font-size: 18pt; font-weight: bold; display: inline; margin: 0; padding: 0;">{{ config.installTitle }}</h1>
					{% else %}
						<img src="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/getLogo.php?v={{ currentSite.logoCacheKey }}" alt="Logo" style="max-height: 30px; max-width: 30px; border: 0;">
						<h1 style="font-size: 18pt; font-weight: bold; display: inline; margin: 0; padding: 0;">{{ currentSite.title }}</h1>
						<h2 style="font-size: 16pt; font-weight: normal; display: inline; margin: 0; padding: 0;">{{ config.installTitle }}</h2>
					{% endif %}
				</a>
			{% else %}
				<a href="{{ config.getWebIndexDomainSecure() }}" style="text-decoration: none; color: black;">
					<img src="{{ config.getWebIndexDomainSecure() }}/theme/default/img/logo.png" alt="Logo" style="max-height: 30px; max-width: 30px; border: 0;">
					<h1 style="font-size: 14pt; font-weight: bold; display: inline; margin: 0; padding: 0;">{{ config.installTitle }}</h1>
				</a>
			{% endif %}
		</div>
		<div id="body" style="margin: 5px 30px; font-size: 1em;">
			{% block content %}{% endblock %}
		</div>
		<div id="footer" style="text-align: center; font-style: italic; margin: 50px 30px 30px 10px; font-size: 10pt;">
			<a href="{{ config.getWebIndexDomainSecure() }}" style="text-decoration: none;"><img src="{{ config.getWebIndexDomainSecure() }}/theme/default/img/logo.png" alt="Logo" style="max-height: 15px; max-width: 15px; border: 0;"></a>
			Powered by <a href="http://ican.openacalendar.org">OpenACalendar</a>
		</div>
	</body>
</html>
{# Use font-size as pt not em otherwise in GMail the font is really small! #}
