{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'email/email.html.twig' %}

{% block content %}

	<p>{{ sendemail.introduction | nl2br | linkify }}</p>

	{{ sendemail.eventHTML | raw }}
	
	<p>See more events at <a href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}">{{ currentSite.slug }}.{{ config.webSiteDomain  }}</a>.</p>
{% endblock %}
