{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'email/email.html.twig' %}

{% block content %}
	
	<p>Hello {{ user.username }}</p>

	<p>Changes have been made to things you watch: {# TODO things? #}</p>

	{% for historyItem in histories %}
		{% if historyItem is eventhistory %}
			{% include 'email/common/eventHistoryItem.html.twig' %}
		{% elseif historyItem is grouphistory %}
			{% include 'email/common/groupHistoryItem.html.twig' %}
		{% elseif historyItem is venuehistory %}
			{% include 'email/common/venueHistoryItem.html.twig' %}
		{% elseif historyItem is importurlhistory %}
			{% include 'email/common/importURLHistoryItem.html.twig' %}
		{% elseif historyItem is areahistory %}
			{% include 'email/common/areaHistoryItem.html.twig' %}
		{% endif %}
	{% endfor %}

	{%  for content in contents %}
		<p>
			You watch {{ content.watchedThingTitle }} -
			To see <a href="{{  content.watchedThingURL }}">the full history, click here</a>.
		</p>

	{%  endfor %}

	<p>Thanks,<br>
	{{ config.siteTitle }}</p>
		
	<p>ps. To <a href="{{ unsubscribeURL }}">change which emails you get, click here</a>.</p>

	{%  for content in contents %}
		<p>ps. To <a href="{{ content.unwatchURL }}"> stop watching {{ content.watchedThingTitle }}, click here</a>.</p>
	{%  endfor %}

{% endblock %}
