{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<li class="group">
	<div class="icon">
		<a href="#">
			<img src="/theme/default/imgsysadmin/historyGroupIcon.png" alt="Group" title="Group">
		</a>
	</div>
	<div class="title">{# <a href="/group/{{ historyItem.groupSlug }}"> #}{{ historyItem.title }}{# </a> #}</div>
	{% if historyItem.getIsNew %}
		<div class="new">New!</div>
	{% endif %}
	{% if historyItem.isAnyChangeFlagsUnknown %}
		<div>{{ historyItem.description | nl2br  }}</div>
	{% else %}
		{% if historyItem.getTitleChanged %}
			<div class="fieldChanged">
				<div class="field">Title changed:</div>
				<div class="value">{{ historyItem.title }}</div>
			</div>
		{%endif %}
		{% if historyItem.getDescriptionChanged %}
			<div class="fieldChanged">
				<div class="field">Description changed:</div>
				<div class="value">{{ historyItem.description }}</div>
			</div>
		{%endif %}
		{% if historyItem.getUrlChanged %}
			<div class="fieldChanged">
				<div class="field">URL changed:</div>
				<div class="value">{{ historyItem.url }}</div>
			</div>
		{%endif %}
		{% if historyItem.getTwitterUsernameChanged %}
			<div class="fieldChanged">
				<div class="field">Twitter changed:</div>
				<div class="value">{{ historyItem.twitterUsername }}</div>
			</div>
		{%endif %}
		{% if historyItem.getIsDeletedChanged %}
			<div class="fieldChanged">
				<div class="field">Status changed:</div>
				<div class="value">{% if historyItem.getIsDeleted %}Deleted!{% else %}Restored!{% endif %}</div>
			</div>
		{%endif %}
	{% endif %}
	<div class="created">
		Edited at 
		<time datetime="{{ historyItem.getCreatedAt|totimezone(currentTimeZone)|date('c') }}">
			{{ historyItem.getCreatedAt|totimezone(currentTimeZone)|date( currentUserClock12Hour ?  'D jS M Y g:ia' : 'D jS M Y H:i') }}
			({{ historyItem.getCreatedAt | time_diff }})
		</time>	
		{% if historyItem.userAccountID %}by {{  historyItem.userAccountUserName }}{% endif %}
	</div>
</li>
