{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{%  if comments %}
	<ul class="sysadmincomments">
		{% for comment in comments  %}
			<li class="sysadmincomment">
				<div class="comment">{{  comment.comment | nl2br }}</div>
				<div class="created">
					Created at
					<time datetime="{{ comment.getCreatedAt|date('c', currentTimeZone) }}">
						{{ comment.getCreatedAt|date( currentUserClock12Hour ?  'D jS M Y g:ia' :  'D jS M Y H:i', currentTimeZone ) }}
						({{ comment.getCreatedAt | time_diff }})
					</time>
					{% if comment.userAccountUsername %}by {{  comment.userAccountUsername }}{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
{%  endif %}