{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Features Admin - {% endblock %} 

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/admin">admin</a></li>
	<li class="current"><a href="/admin/features">features</a></li>
{% endblock %}

{% block content %}

	{% for feature in currentSiteFeatures.asList %}

		<h3>{{ feature.title }}</h3>
		<p>{{  feature.description }}</p>
		<form action="#" method="post"  class="styled">
			<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
			<input type="hidden" name="extension" value="{{ feature.extensionID | e('html_attr') }}">
			<input type="hidden" name="feature" value="{{ feature.featureID | e('html_attr') }}">
			{% if feature.on %}
				<input type="hidden" name="action" value="off">
				<div class="bigSubmitActionWrapper"><input type="submit" value="Turn Off"></div>
			{%  else %}
				<input type="hidden" name="action" value="on">
				<div class="bigSubmitActionWrapper"><input type="submit" value="Turn On"></div>
			{%  endif %}
			<div class="afterBigSubmitActionWrapper"></div>
		</form>
	{% endfor %}

{% endblock %}


	
