
{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}User  Admin - {% endblock %}

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/admin', 'label':'admin' },  { 'url':'/admin/user', 'label':'users' } ]  } %}
{% endblock %}

{% block content %}


	<h2>Users</h2>

	<h3>User Permissions all Anonymous Users have</h3>

	<div class="contentMain">
		<table class="data">
			<tr>
				<th>Extension</th>
				<th>ID</th>
			</tr>
			{% for userpermission in userPermissionForAnonymous %}
				<tr>
					<td>{{ userpermission.userPermissionExtensionID }}</td>
					<td>{{ userpermission.userPermissionKey }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<h3>User Permissions any User has</h3>

	<div class="contentMain">
		<table class="data">
			<tr>
				<th>Extension</th>
				<th>ID</th>
			</tr>
			{% for userpermission in userPermissionForAnyUser %}
				<tr>
					<td>{{ userpermission.userPermissionExtensionID }}</td>
					<td>{{ userpermission.userPermissionKey }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<h3>User Permissions any Verified User has</h3>

	<div class="contentMain">
		<table class="data">
			<tr>
				<th>Extension</th>
				<th>ID</th>
			</tr>
			{% for userpermission in userPermissionForAnyVerifiedUser %}
				<tr>
					<td>{{ userpermission.userPermissionExtensionID }}</td>
					<td>{{ userpermission.userPermissionKey }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>


{% endblock %}
