{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Profile Admin - {% endblock %} 

{% block breadcrumbs %}
	{%  include 'site/breadcrumbs.html.twig' with { 'breadcrumbs': [  { 'url':'/admin', 'label':'admin' },  { 'url':'/admin/profile', 'label':'profile' } ]  } %}
{% endblock %}


{% block content %}
	

	<form action="#" method="post"  {{ form_enctype(form) }} class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.title) }}
		{{ form_row(form.description_text) }}
		{{ form_row(form.footer_text) }}

		{% if siteLogoAllowed %}
			<div class="rowWrapper">
				<div class="labelWrapper">Existing Logo</div>
				<div class="widgetWrapper">
					<img src="/getLogo.php?t={{ "now"|date('U') }}" class="logo" alt="Logo">
				</div>
				<div class="after"></div>
			</div>
			{{ form_row(form.logo) }}
		{% endif %}

		{{ form_rest(form) }}

		<div class="bigSubmitActionWrapper"><input type="submit"  value="Save" class="bigSubmitAction"/></div>
		<div class="afterBigSubmitActionWrapper"></div>

	</form>

	{% if siteLogoAllowed %}
		<div class="contentMain">
			<p>(Note you can also pick a site logo from <a href="/media/">your existing media</a>.)</p>
		</div>
	{%  endif %}

{% endblock %}

