{#
 # @package org.openacalendar.displayboard
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<li {% if minorImportance %}class="minorImportance"{% else %}class="majorImportance"{% endif %}>
	<div class="dateIcon">
		<a href="/event/{{ event.slugForUrl }}">
			<time datetime="{{ event.getStartAt|totimezone(currentTimeZone)|date('c') }}">
				{% if showStart == 'date' %}
					<span class="startDay">{{ event.getStartAt|totimezone(currentTimeZone)|date('D') }}</span>
					<span class="startDate">{{ event.getStartAt|totimezone(currentTimeZone)|date('jS') }}</span>
					<span class="startMonthYear">{{ event.getStartAt|totimezone(currentTimeZone)|date('M \'y') }}</span>
				{% else %}
					{# TODO We don't follow 12/24 hour pref here. We could do but must pay attention to styling. #}
					<span class="startTime1">{{ event.getStartAt|totimezone(currentTimeZone)|date('g:i') }}</span>
					<span class="startTime2">{{ event.getStartAt|totimezone(currentTimeZone)|date('a') }}</span>
				{% endif %}
			</time>
		</a>
	</div>
	<div class="title">
		<a href="/event/{{ event.slugForUrl }}">
			{{ event.summaryDisplay }}
		</a>
	</div>
	{% if showCharsOfDescription > 0 %}
		<div class="description">
			{{ event.description | truncate(showCharsOfDescription) }}
		</div>
	{% endif %}
</li>
