{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/importurl/page.html.twig' %}

{% block pageTitle %}{{ importurl.title }} - {% endblock %}

{% block actions %}
{% endblock %}

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block innerContent %}

	<h3>Imported event</h3>

	<div class="importedevent">

		{% if true %}
			<div class="dateTimeIcon">
				<time datetime="{{ importedEvent.getStartAt|tolocaltimeformatted('c', currentTimeZone) }}">
					<div class="dateIcon">
						<span class="startDay">{{ importedEvent.getStartAt|tolocaltimeformatted('D', currentTimeZone) }}</span>
						<span class="startDate">{{ importedEvent.getStartAt|tolocaltimeformatted('jS', currentTimeZone) }}</span>
						<span class="startMonthYear">{{ importedEvent.getStartAt|tolocaltimeformatted('M \'y', currentTimeZone) }}</span>
					</div>
					<div class="timeIcon">
						<span class="startTime">{{ importedEvent.getStartAt|tolocaltimeformatted12or24hourclock('g:ia', 'H:i', currentUserClock12Hour, currentTimeZone) }}</span>
					</div>
				</time>
			</div>
		{% endif %}
		<div class="title">{{ importedEvent.title }}</div>
		<p class="description">{{ importedEvent.description |  truncate(1000) | nl2br  | linkify }}</p>


		<div class="dateAndLocationWrapper">
			{% if  importedEvent.timezone %}
				{% if currentTimeZone == importedEvent.timezone %}
					{% include 'site/common/eventFromToLine.html.twig' with {'startAt': importedEvent.startAtInUTC, 'endAt': importedEvent.endAtInUTC, 'timezone':currentTimeZone, 'showTimeZone':currentSite.cachedIsMultipleTimezones} %}
				{% else %}
					{% include 'site/common/eventFromToLine.html.twig' with {'startAt': importedEvent.startAtInUTC, 'endAt': importedEvent.endAtInUTC, 'timezone':importedEvent.timezone, 'showTimeZone':true} %}
					{% include 'site/common/eventFromToLine.html.twig' with {'startAt': importedEvent.startAtInUTC, 'endAt': importedEvent.endAtInUTC, 'timezone':currentTimeZone, 'showTimeZone':true} %}
				{% endif %}
			{% else %}
				{% include 'site/common/eventFromToLine.html.twig' with {'startAt': importedEvent.startAtInUTC, 'endAt': importedEvent.endAtInUTC, 'timezone':currentTimeZone, 'showTimeZone':true} %}
			{% endif %}
		</div>


		{%  if importedEvent.hasReoccurence %}
			 <div class="reoccur">
				 This event reoccurs!
				 {#  TODO add some showing of rules #}
			 </div>
		{% endif %}



		<div class="afterEventListing"></div>
	</div>

	{%  if importedEventReoccurs %}

		<h3>Real events</h3>

		{% include '/site/eventListFilterParams.html.twig' %}

		<ul class="mainListEvents">
			{% for event in events %}
				{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':false, 'showVenueAndArea':true}  %}
			{% else %}
				<li class="nodata">
					No events found.
					{% if currentUserActions.has("org.openacalendar","eventNew") %}Why not <a href="/event/new">add one</a>?{% endif %}
				</li>
			{% endfor %}
		</ul>

	{% else %}

		<h3>Real event</h3>

		<ul class="mainListEvents">
			{% if event %}
				{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':false, 'showVenueAndArea':true}  %}
			{% else %}
				<li class="nodata">
					No events found.
					{% if currentUserActions.has("org.openacalendar","eventNew") %}Why not <a href="/event/new">add one</a>?{% endif %}
				</li>
			{% endif %}
		</ul>

	{%  endif %}


{% endblock %}


{% block scripts %}
	<script src="/theme/default/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
{% endblock %}


