{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Emails - {% endblock %} 

{% block content %}

	<div class="contentMain">
	
		<form action="#" method="post" class="styled">

			<div class="rowWrapper">
				<div class="labelWrapper">Email</div>
				<div class="widgetWrapperPlacementOnly">{{ user.email }}</div>
				<div class="after"></div>
			</div>

			{{ form_errors(form) }}

			<h3>Upcoming Events</h3>

            {{ form_row(form.org_openacalendar_UpcomingEvents) }}

            {{ form_row(form.email_upcoming_events) }}

            {{ form_row(form.email_upcoming_events_days_notice) }}

			<h3>Other Emails</h3>

            {{ form_rest(form) }}

			<div class="bigSubmitActionWrapper"><input type="submit"  value="Save" class="bigSubmitAction"/></div>
			<div class="afterBigSubmitActionWrapper"></div>
		</form>

	</div>

{% endblock %}


