{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Login - {% endblock %} 

{% block content %}
	
	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}


		{{ form_row(form.username) }}
		
		<div class="rowWrapper">
			<div class="labelWrapper">&nbsp;</div>
			<div class="widgetWrapperPlacementOnly">OR</div>
			<div class="after"></div>
		</div>
		
		{{ form_row(form.email) }}

		{{ form_row(form.password) }}

		{{ form_rest(form) }}

		<input type="submit"  value="Login" />	
	</form>

	<div class="alternativeToFormAction">
		<a href="/you/forgot">Forgot your password?</a>
	</div>

{% endblock %}
