{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Venues - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/venue/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/venue">venues</a></li>
{% endblock %}

{% block content %}

		
	{% if not currentSite.isFeaturePhysicalEvents %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
		
	<h2>Venues</h2>

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% if currentUserActions.has("org.openacalendar","venueNew") %}
				<li class="action">
					<a href="/venue/new"><div class="iconPencilSmall"></div> new</a>
				</li>
			{% endif %}
			
			{% if currentSite.isFeatureVirtualEvents %}
				<li class="action">
					<a href="/venue/virtual"><div class="iconDesktopSmall"></div> Virtual</a>
				</li>
			{% endif %}
		
			
			<li class="tab currentTab">List</li>
		</ul>
		<div id="innerPage">

			{% include '/site/venueListFilterParams.html.twig' %}
			
			<ul class="venues">
				{% for venue in venues %}
					<li class="venue">
						<div class="title"><a href="/venue/{{ venue.slugForUrl }}">{{ venue.title }}</a></div>
						{{ venue.description | nl2br }}
					</li>
				{% else %}
					<li>
						There are no venues.
						{% if currentUserActions.has("org.openacalendar","venueNew") %}Why not <a href="/venue/new">add one</a>?{% endif %}
					</li>								
				{% endfor %}
			</ul>

			<div id="afterInnerPageContent"></div>
		</div>
	</div>



{% endblock %}

