{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Events Edited by User - {% endblock %}

{% block content %}

	<table class="data">
		<tr>
			<th>Slug</th>
			<th>Title</th>
			<th>Start</th>
			<th>&nbsp;</th>
		</tr>
		{% for event in events %}
			<tr {% if loop.index is even %}class="alternative"{% endif %} >
				<td>{{ event.slug }}</td>
				<td>{{ event.summary }}</td>
				<td>{{ event.startAt |tolocaltimeformatted('D H:i jS M Y', currentTimeZone ) }}</a></td>
				<td>
					<a href="/sysadmin/site/{{ event.siteId }}/event/{{ event.slug }}" class="button">Show</a>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}

