{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}User {{  user.username }} - {% endblock %}

{% block content %}


	<table class="oneData">
		<tr>
			<th>ID</th>
			<td>{{ user.id }}</td>
		</tr>
		<tr>
			<th>Username</th>
			<td>{{ user.username }}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{ user.email }}</td>
		</tr>
		<tr>
			<th>Email Verified</th>
			<td>{% if user.isEmailVerified %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>
		<tr>
			<th>System Admin</th>
			<td>{% if user.isSystemAdmin %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>
		<tr>
			<th>Editor</th>
			<td>{% if user.isEditor %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}</td>
		</tr>
		<tr>
			<th>Closed by sys admin</th>
			<td>
				{% if user.isClosedBySysAdmin %}<span class="yes">yes</span>{% else %}<span class="no">no</span>{% endif %}				
			</td>
		</tr>
		{% if user.isClosedBySysAdmin %}
			<tr>
				<th>Closed by sys admin reason</th>
				<td>
					{{ user.ClosedBySysAdminReason }}
				</td>
			</tr>
		{% endif %}		
		<tr>
			<th>Email Upcoming Events</th>
			<td>{{ user.getEmailUpcomingEvents }}</td>
		</tr>
		<tr>
			<th>Email Upcoming Events Days Notice</th>
			<td>{{ user.getEmailUpcomingEventsDaysNotice }}</td>
		</tr>
		<tr>
			<th>Clock</th>
			<td>{% if user.getIsClock12Hour %}12hr{% else %}24hr{% endif %}</td>
		</tr>	
		<tr>
			<th>Created</th>
			<td>{% if user.createdAt %}{{ user.createdAt |date('D H:i jS M Y', currentTimeZone ) }}{% endif %}</td>
		</tr>
		<tr>
			<th>Created From IP</th>
			<td>{{  user.createdFromIP }}</td>
		</tr>
		<tr>
			<th>More</th>
			<td>
				<ul>
					<li><a href="/sysadmin/user/{{ user.id }}/verify">Verify</a></li>
					<li><a href="/sysadmin/user/{{ user.id }}/reset">Reset</a></li>
					<li><a href="/sysadmin/user/{{ user.id }}/notification">Notifications</a></li>
					<li><a href="/sysadmin/user/{{ user.id }}/notificationprefs">Notification Preferences</a></li>
					<li><a href="/sysadmin/user/{{ user.id }}/event/edited">Events Edited</a></li>
					<li><a href="/sysadmin/user/{{ user.id }}/area/edited">Areas Edited</a></li>
					<li><a href="/sysadmin/user/{{ user.id }}/venue/edited">Venues Edited</a></li>
					<li><a href="/sysadmin/user/{{ user.id }}/group/edited">Groups Edited</a></li>
				</ul>
			</td>
		</tr>		
	</table>

	{%  include 'sysadmin/common/sysadminCommentsList.html.twig' %}

	<form action="#" method="post" class="action">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<input type="submit" name="Do Action" />
	</form>

	<ul class="actionHelp">
		<li>editor yes</li>
		<li>editor no</li>
		<li>sysadmin yes</li>
		<li>sysadmin no</li>
		<li>verifyemail</li>
		<li>resendverificationemail</li>
		<li>close  <span class="param">reason</a></li>
		<li>open</li>
		<li>email email</li>
	</ul>

{% endblock %}
