{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Extensions - {% endblock %}

{% block content %}

	<table class="data">
		<tr>
			<th>Folder Name</th>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>&nbsp;</th>
		</tr>
		{% for extensionKey,extensionObj in extensions %}
		<tr>
			<td>{%  if extensionObj.id != 'org.openacalendar' %}{{ extensionKey }}{% endif %}</td>
			<td>{{ extensionObj.id }}</td>
			<td>{{ extensionObj.title }}</td>
			<td>{{ extensionObj.description }}</td>
			<td><a href="/sysadmin/extension/{{ extensionObj.id   }}">More</a></td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}

