{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/importurl/page.html.twig' %}


{% block pageTitle %}Edit {{ importurl.title }} - {% endblock %} 


{% block actions %}
{% endblock %}


{% block innerContent %}

	

	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		{{ form_row(form.title) }}
		{{ form_row(form.country_id) }}
		
		<div class="rowWrapper">
			<div class="labelWrapper">&nbsp;</div>
			<div class="widgetWrapperPlacementOnly">
				<ul id="ChangeEventAreaList">
					{% if parentAreas is defined %}
						{% for parentArea in parentAreas %}
							<li class="selectedarea">
								<span class="content">
									<span class="title">{{ parentArea.title }}</span>
									<a href="#" onclick="removeArea(this); return false;" class="remove">X</a>
								</span>
								<input type="hidden" name="areas[]" value="EXISTING:{{ parentArea.slug }}">
							</li>
						{% endfor %}
					{% endif %}
					{% if area is defined and area %}
						<li class="selectedarea">
							<span class="content">
								<span class="title">{{ area.title }}</span>
								<a href="#" onclick="removeArea(this); return false;" class="remove">X</a>
							</span>
							<input type="hidden" name="areas[]" value="EXISTING:{{ area.slug }}">
						</li>
					{% endif %}
					{% if childAreas is defined and childAreas %}
						<li class="selectArea">
							<ul class="areas">
								{% for childArea in childAreas %}
									<li class="area"><span class="content"><a href="#" onclick="existingAreaChoosen({{ childArea.slug }}); return false;">{{ childArea.title }}</a></span><span class="aftercontent">&nbsp;</span></li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="after"></div>
		</div>

		
		{{ form_rest(form) }}

		<input type="submit"  value="Save" />	
	</form>


{% endblock %}


{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/importurlform.js?v={{ config.assetsVersion }}"></script>
{% endblock %}


