{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/importurl">import from web</a></li>
	<li class="current"><a href="/importurl/{{ importurl.slug }}">{{ importurl.title }}</a></li>
{% endblock %}


{% block content %}

	{% if group %}
		<div id="groupSummaryPanel">
			<ul>
				<li>In group: <a href="/group/{{ group.slugForUrl }}">{{ group.title }}</a></li>
			</ul>
		</div>
	{% endif %}

	{% if not currentSite.isFeatureImporter %}
		<div class="flash-error">This feature has been disabled on this calendar. You can not make changes.</div>
	{% endif %}
		
	<h2>{{  importurl.title }} ({% if not importurl.isEnabled %}disabled{% elseif importurl.expiredat %}expired{% else %}enabled{% endif %})</h2>
	
	<div id="innerPageWrapper">
		<ul id="innerPageActions">
			{% block actions %}{% endblock %}
			<li class="tab {% block tabDetails %}{% endblock %}"><a href="/importurl/{{ importurl.slug }}">Details</a></li>
			{% if currentUserActions.has("org.openacalendar","importURLLog") %}
				<li class="tab {% block tabLog %}{% endblock %}"><a href="/importurl/{{ importurl.slug }}/log">Log</a></li>
			{% endif %}
		</ul>
		<div id="innerPage">

			{% block innerContent %}{% endblock %}

			<div id="afterInnerPageContent"></div>
		</div>
	</div>


{% endblock %}

