{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/importurl/page.html.twig' %}

{% block pageTitle %}{{ importurl.title }} - {% endblock %} 

{% block tabDetails %}currentTab{% endblock %}

{% block actions %}
	{% if currentUserActions.has("org.openacalendar","importURLEditDetails") %}
		<li class="action">
			<a href="/importurl/{{ importurl.slug }}/edit"><div class="iconPencilSmall"></div> edit</a>
		</li>
	{%  endif %}
	{% if currentUserActions.has("org.openacalendar","importURLEnable")  %}
		<li class="action">
			<a href="/importurl/{{ importurl.slug }}/enable"><div class="iconPencilSmall"></div> enable</a>
		</li>
	{% endif %}
	{% if currentUserActions.has("org.openacalendar","importURLDisable") %}
		<li class="action">
			<a href="/importurl/{{ importurl.slug }}/disable"><div class="iconTrashOSmall"></div> disable</a>
		</li>
	{% endif %}
{% endblock %}


{% block innerContent %}

	<p>Imported from: {{ importurl.url }}</p>

	{% if country %}
		<p>
			Events are in:
			{% spaceless %}
				<img src="/theme/default/img/countries/{{ country.twoCharCode|lower }}.png" alt="Flag"> {{ country.title }}
				{% for thisarea in parentAreas %}, {{ thisarea.title }}{% endfor %}
				{% if area %}, {{ area.title }}{% endif %}
			{% endspaceless %}
		</p>
	{% endif %}
	
	{% if not hasLogEntries and  importurl.isEnabled %}
		<p>This importer has not been run yet. It will be run shortly, please return soon to check on the results.</p>
	{% endif %}
	
{% endblock %}


	
