{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Send Email - {% endblock %} 

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/admin">admin</a></li>
{% endblock %}

{% block content %}
		
	{% if sendemail.isDiscarded %}
	{% elseif sendemail.isSent %}
		<p>Sent!</p>
	{% else %}
		<p>Please check this preview; then send or discard.</p>
	{% endif %}
		
	<div class="SendEmailPreview">
		<div class="SendEmailPreviewHeader">
			<p><span class="SendEmailPreviewFieldKey">From:</span> {{ sendemail.sendFromName(currentUser) }}</p>
			<p><span class="SendEmailPreviewFieldKey">To:</span>  {{ sendemail.sendTo }}</p>
			<p><span class="SendEmailPreviewFieldKey">Subject:</span>  {{ sendemail.subject }}</p>
		</div>
		<div class="SendEmailPreviewBody">
			<p>{{ sendemail.introduction | nl2br | linkify }}</p>
			{{ sendemail.eventHTML | raw }}
			<p>See more events at <a href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}">{{ currentSite.slug }}.{{ config.webSiteDomain  }}</a>.</p>
		</div>
	</div>
		
	{% if sendemail.isDiscarded %}
		<p>Discarded!</p>
	{% elseif sendemail.isSent %}
		<p>Sent!</p>
	{% else %}
		<form action="#" method="post" class="styled">
			<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
			<input type="submit"  name="actionSend" value="Send" />	
			<input type="submit"  name="actionDiscard" value="Discard" />	
		</form>
	{% endif %}

{% endblock %}

