{#
 # @package org.openacalendar.curatedlists
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block pageTitle %}Curated List {{ curatedlist.title }} - {% endblock %}

{% block content %}


	<table class="oneData">
		<tr>
			<th>ID</th>
			<td>{{ curatedlist.id }}</td>
		</tr>
		<tr>
			<th>Slug</th>
			<td>{{ curatedlist.slug }}</td>
		</tr>
		<tr>
			<th>Deleted</th>
			<td>{% if curatedlist.isDeleted %}Deleted{% else %}-{% endif %}</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>{{ curatedlist.title }}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{ curatedlist.description | nl2br }}</td>
		</tr>
	</table>

	<form action="#" method="post" class="action">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<input type="submit" name="Do Action" />
	</form>

	<ul class="actionHelp">
		<li>delete</li>
		<li>undelete</li>
		<li>addeditor  <span class="param">userid</a></li>
		<li>removeeditor  <span class="param">userid</a></li>
		<li>addevent  <span class="param">eventslug</a></li>
		<li>removeevent  <span class="param">eventslug</a></li>
		<li>purge  <span class="param">password</a></li>
	</ul>

{% endblock %}
