{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div style="padding: 5px; margin: 5px 0 5px 0; background:  {{ themeVariables.colourHistoryEventBackground  }}; border-radius: 5px;">
	<div style="font-weight: bold;">{%  if historyItem.isNew %}New {%  endif %}Event: <a href="{{ config.getWebSiteDomainSecure(site.slug) }}/event/{{ historyItem.eventSlug }}">{{ historyItem.summaryDisplay }}</a></div>
	{% if historyItem.isAnyChangeFlagsUnknown %}
		<div>{{ historyItem.description | nl2br  }}</div>
	{% else %}
		{% if historyItem.getSummaryChanged %}
			<div>
				<div>Summary{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.summary }}</div>
			</div>
		{% endif %}
		{% if historyItem.getDescriptionChanged %}
			<div>
				<div>Description{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.description | nl2br }}</div>
			</div>
		{% endif %}
		{% if historyItem.getUrlChanged %}
			<div>
				<div>URL{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.url }}</div>
			</div>
		{% endif %}
		{% if historyItem.getTicketUrlChanged %}
			<div>
				<div>Ticket URL{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.ticketUrl }}</div>
			</div>
		{% endif %}
		{% if historyItem.getStartAtChanged %}
			<div>
				<div>Start{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.startAt |date( currentUserClock12Hour ? 'D jS M Y g:ia' : 'D jS M Y H:i', historyItem.timezone) }} ({{ historyItem.timezone }})</div>
			</div>
		{% endif %}
		{% if historyItem.getEndAtChanged %}
			<div>
				<div>End{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.endAt |date( currentUserClock12Hour ?  'D jS M Y g:ia' : 'D jS M Y H:i', historyItem.timezone)}} ({{ historyItem.timezone }})</div>
			</div>
		{% endif %}
		{% if historyItem.getCountryIdChanged %}
			<div>
				<div>Country{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getTimezoneChanged %}
			<div>
				<div>Timezone{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.timezone }}</div>
			</div>
		{% endif %}
		{% if historyItem.getAreaIdChanged %}
			<div>
				<div>Area{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getVenueIdChanged %}
			<div>
				<div>Venue{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getIsVirtualChanged %}
			<div>
				<div>Is Virtual{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{% if historyItem.isVirtual %}Yes{% else %}No{% endif %}</div>
			</div>
		{% endif %}
		{% if historyItem.getIsPhysicalChanged %}
			<div>
				<div>Is Physical {%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{% if historyItem.isPhysical %}Yes{% else %}No{% endif %}</div>
			</div>
		{% endif %}
		{% if historyItem.getIsDeletedChanged %}
			<div>
				<div>Deleted Status{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{% if historyItem.getIsDeleted %}Deleted!{% else %}Restored!{% endif %}</div>
			</div>
		{%endif %}
		{% if historyItem.getIsCancelledChanged %}
			<div>
				<div>Cancelled Status{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{% if historyItem.getIsCancelled %}Cancelled!{% else %}Restored!{% endif %}</div>
			</div>
		{%endif %}
		{%  if site is defined and site %}
			{%  for customField in site.getCachedEventCustomFieldDefinitionsAsModels %}
				{% if historyItem.getCustomFieldChanged(customField) %}
					<div class="fieldChanged">
						<div class="field">{{  customField.label }} changed:</div>
						<div class="value">{{ historyItem.getCustomField(customField) | nl2br  }}</div>
					</div>
				{%  endif %}
			{%  endfor %}
		{%  endif %}
	{% endif %}
	<div style="font-style: italic; font-size: 0.8em;">
		Edited at
		<time datetime="{{ historyItem.getCreatedAt|date('c', currentTimeZone) }}">
			{{ historyItem.getCreatedAt|date( currentUserClock12Hour ? 'D jS M Y g:ia' : 'D jS M Y H:i', currentTimeZone) }}
		</time>	
		{% if historyItem.userAccountID %}by {{  historyItem.userAccountDisplayName }}{% endif %}
	</div>
</div>
