{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div style="padding: 5px; margin: 5px 0 5px 0; background:  {{ themeVariables.colourHistoryImportURLBackground  }}; border-radius: 5px;">
	<div style="font-weight: bold;">{%  if historyItem.isNew %}New {%  endif %}Import URL: <a href="{{ config.getWebSiteDomainSecure(site.slug) }}/import/{{ historyItem.slug }}">{{ historyItem.title }}</a></div>
	{% if historyItem.isAnyChangeFlagsUnknown %}
		<div>{{ historyItem.title | nl2br  }}</div>
	{% else %}
		{% if historyItem.getTitleChanged %}
			<div>
				<div>Title{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{{ historyItem.title }}</div>
			</div>
		{%endif %}
		{% if historyItem.getCountryIdChanged %}
			<div>
				<div>Country{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getAreaIdChanged %}
			<div>
				<div>Area{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getIsEnabled %}
			<div>
				<div>Enabled{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{% if historyItem.getIsEnabled %}Enabled!{% else %}Disabled!{% endif %}</div>
			</div>
		{%endif %}
		{% if historyItem.getExpiredAt %}
			<div>
				<div>Expired{%  if not historyItem.isNew %} changed{%  endif %}:</div>
				<div style="font-size: 10pt;">{% if historyItem.getExpiredAt %}Expired!{% else %}Not Expired!{% endif %}</div>
			</div>
		{%endif %}
	{% endif %}
	<div style="font-style: italic; font-size: 0.8em;">
		Edited at 
		<time datetime="{{ historyItem.getCreatedAt|totimezone(currentTimeZone)|date('c') }}">
			{{ historyItem.getCreatedAt|totimezone(currentTimeZone)|date( currentUserClock12Hour ? 'D jS M Y g:ia' : 'D jS M Y H:i') }}
		</time>	
		{% if historyItem.userAccountID %}by {{  historyItem.userAccountUserName }}{% endif %}
	</div>
</div>
