{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div style="padding: 5px; margin: 5px 0 5px 0; background: #ccc; border-radius: 5px;">
	<div style="font-weight: bold;">Import URL: <a href="{{ config.getWebSiteDomainSecure(site.slug) }}/importurl/{{ historyItem.slug }}">{{ historyItem.title }}</a></div>
	{% if historyItem.isAnyChangeFlagsUnknown %}
		<div>{{ historyItem.title | nl2br  }}</div>
	{% else %}
		{% if historyItem.getTitleChanged %}
			<div>
				<div>Title changed:</div>
				<div style="font-size: 10pt;">{{ historyItem.title }}</div>
			</div>
		{%endif %}
		{% if historyItem.getCountryIdChanged %}
			<div>
				<div>Country changed:</div>
				<div style="font-size: 10pt;">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getAreaIdChanged %}
			<div>
				<div>Area changed:</div>
				<div style="font-size: 10pt;">changed{# TODO #}</div>
			</div>
		{% endif %}
		{% if historyItem.getIsEnabled %}
			<div>
				<div>Enabled changed:</div>
				<div style="font-size: 10pt;">{% if historyItem.getIsEnabled %}Enabled!{% else %}Disabled!{% endif %}</div>
			</div>
		{%endif %}
		{% if historyItem.getExpiredAt %}
			<div>
				<div>Expired changed:</div>
				<div style="font-size: 10pt;">{% if historyItem.getExpiredAt %}Expired!{% else %}Not Expired!{% endif %}</div>
			</div>
		{%endif %}
	{% endif %}
	<div style="font-style: italic; font-size: 0.8em;">
		Edited at 
		<time datetime="{{ historyItem.getCreatedAt|tolocaltimeformatted('c', currentTimeZone) }}">
			{{ historyItem.getCreatedAt|tolocaltimeformatted12or24hourclock('D jS M Y g:ia', 'D jS M Y H:i', currentUserClock12Hour, currentTimeZone) }}
		</time>	
		{% if historyItem.userAccountID %}by {{  historyItem.userAccountUserName }}{% endif %}
	</div>
</div>
