{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div style="margin: 10px; padding: 5px; background: #ddd; -webkit-border-radius: 5px; border-radius: 5px;">
	<div style="float: left; width: 60px; height: 60px; text-align: center; background: #231f20; padding: 5px; margin: 2px;  -webkit-border-radius: 5px; border-radius: 5px;">
		<span style="display: block; font-size: 16pt; color: white;">{{ event.getStartAt|tolocaltimeformatted('D', event.timeZone ) }}</span>
		<span style="display: block; font-size: 14pt; color: white;">{{ event.getStartAt|tolocaltimeformatted('jS', event.timeZone ) }}</span>
		<span style="display: block; font-size: 12pt; color: white;">{{ event.getStartAt|tolocaltimeformatted('M \'y', event.timeZone ) }}</span>
	</div>
	<p style="font-weight: bold;">{{ event.summaryDisplay }}</p>
	<p style="clear:both; padding: 5px 0;">{{ event.description | nl2br }}</p>
	<p style="padding: 5px 10px 5px 20px; color: #ec2327; background: url('{{  config.getWebSiteDomainSecure(site.slug)  }}/theme/default/img/eventFooterCalendarIcon.png') no-repeat;">{{ event.startAt |tolocaltimeformatted12or24hourclock('g:ia D M Y', 'H:i D M Y', currentUserClock12Hour, currentTimeZone )}} ({{ event.timeZone }})</p>
	<p style="padding: 5px 0;">
		<a href="{{  config.getWebSiteDomainSecure(site.slug)  }}/event/{{ event.slugForUrl }}/recur">Recurs Weekly or Monthly</a>
	</p>
</div>
