{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}User Request Admin - {% endblock %} 


{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/admin">admin</a></li>
	<li class="current"><a href="/admin/users">users</a></li>
{% endblock %}

{% block content %}

		<h2>{{ user.username }}</h2>
		
		{% if userIsSiteOwner %}
		
			<p>That user owns this calendar!</p>
			
			
		{% elseif userIsSiteAdministrator %}
			
			<p>That user administraters this calendar.</p>
			
		{% elseif userIsSiteEditor %}
			
			<p>That user edits this calendar.</p>
			
		{% elseif requests %}
		
			<p>The following requests have been made:</p>
			
			<ul class="listOfTextItems">  {# TODO not best class, should have it's own class and includo date/time request made #}
				{% for request in requests %}
					<li>{{ request.answer | nl2br }}</li>
				{% endfor %}
			</ul>
			
			<form action="#" method="post">
				<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
				<input type="hidden" name="action" value="grant">
				<input type="submit" name="grant" value="Grant and make editor">
			</form>
			
			<form action="#" method="post">
				<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
				<input type="hidden" name="action" value="deny">
				<input type="submit" name="grant" value="Deny">
			</form>
		{% else %}
		
			<p>This user has not made any requests.</p>
		
		{% endif %}
		
{% endblock %}
		