{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}Admin Areas - {% endblock %} 


{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li><a href="/admin">admin</a></li>
	<li><a href="/admin/areas">areas in a country</a></li>
	<li class="current"><a href="/admin/areas/{{ country.twoCharCode }}">{{ country.title }}</a></li>
{% endblock %}

{% block content %}


	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		<div class="rowWrapper">
			<div class="labelWrapper">&nbsp;</div>
			<div class="widgetWrapperPlacementOnly">
				<ul id="ChangeVenueAreaList">
					<li class="selectedarea">
						<span class="content">
							<span class="title">{{ country.title }}</span>
						</span>
					</li>
					{% for parentArea in parentAreas %}
						<li class="selectedarea">
							<span class="content">
								<span class="title">{{ parentArea.title }}</span>
							</span>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="after"></div>
		</div>

		
		{{ form_row(form.title) }}
		{{ form_row(form.description) }}
		{{ form_rest(form) }}

		<input type="submit"  value="Save" />	
	</form>

{% endblock %}
