{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Send Email - {% endblock %} 

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/admin">admin</a></li>
{% endblock %}

{% block content %}

	<form action="#" method="post" class="styled">

		{{ form_errors(form) }}

		<div class="rowWrapper">
			<div class="labelWrapper">Send to</div>
			<div class="widgetWrapperPlacementOnly">
				{% for email in emails %}
					<div>
						<label>
							<input type="radio" name="send_to" value="{{ email }}">
							{{ email }}
						</label>
					</div>
				{% endfor %}
				<div>
					<label><input type="radio" name="send_to" value="other" checked="checked" id="SendToOtherRadioInput"> Enter address: </label>
					<input type="email" name="send_to_other" id="SendToOtherTextInput">
				</div>
			</div>
			<div class="after"></div>
		</div>
		
		{{ form_row(form.subject) }}
		{{ form_row(form.introduction) }}
		{{ form_row(form.days_into_future) }}
		<div class="rowWrapper">
			<div class="labelWrapper">Timezone</div>
			<div class="widgetWrapperPlacementOnly">{{ currentTimeZone  }}</div>
			<div class="after"></div>
		</div>
		
		{{ form_rest(form) }}

		<input type="submit"  value="Save as Preview" />	
	</form>

{% endblock %}

{% block scripts %}
	<script type="text/javascript"> 
		$( document ).ready(function() {
			$('#SendToOtherTextInput').change(function () {
				$('#SendToOtherRadioInput').prop('checked', true)
			});
		});
	</script>
{% endblock %}
