{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/venue/page2col.html.twig' %}

{% block pageTitle %}{{ venue.title }} - {% endblock %} 


{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/venue/{{ venue.slug }}/" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
	{% include 'site/common/mapLibrary.css.html.twig' %}
{% endblock %}

{% block actions %}
	{% if currentUserCanEditSite and currentSite.isFeaturePhysicalEvents and not venue.isDeleted %}
		<li class="action">
			<a href="/venue/{{ venue.slug }}/edit"><img src="/img/actionIcon.png?v={{ config.assetsVersion }}" class="icon"> edit</a>
		</li>
		<li class="action">
			<a href="/venue/{{ venue.slug }}/media"><img src="/img/actionIcon.png?v={{ config.assetsVersion }}" class="icon"> media</a>
		</li>		
	{% endif %}
{% endblock %}

{% block tabDetails %}currentTab{% endblock %}
		
{% block innerContentLeft %}
		
	<div class="venue">
		<p>{{ venue.description | nl2br  | linkify }}</p>

		<div id="Map" class="map"></div>

		<div class="locationWrapper">
			<div class="location">
				{% if venue.address %}<div class="address">{{ venue.address | nl2br }}</div>{% endif %}
				{% if area %}
					<div class="area"><a href="/area/{{ area.slug }}">{{ area.title }}</a></div>
				{% endif %}
				{% for parentArea in parentAreas|reverse %}
					<div class="area"><a href="/area/{{ parentArea.slug }}">{{ parentArea.title }}</a></div>
				{% endfor %}	
				{% if venue.addressCode %}<div class="addressCode">{{ venue.addressCode  }}</div>{% endif %}
				{% if country %}
					<div class="country">
						<a href="/country/{{ country.twoCharCode }}">{{ country.title }} <img src="/img/countries/{{ country.twoCharCode|lower }}.png" alt="Flag"></a>
					</div>
				{% endif %}	
			</div>
		</div>
		
		{% if childAreas and currentUserCanEditSite and currentSite.isFeaturePhysicalEvents and not venue.isDeleted %}
			<div id="userCanPushToChildAreaWrapper">
				<p>Is {{ venue.title }} in one of these places?</p>
				<form action="/venue/{{ venue.slug }}/moveToArea" method="post"  class="styled">
					<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
					<input type="hidden" name="submitted" value="yes">
					<ul class="areas">
						{% for childArea in childAreas %}
							<li class="area">{% spaceless %}<span class="content"><label>
								<input type="radio" name="area" value="{{ childArea.slug }}">{{ childArea.title }}
							</label></span>{% endspaceless %}</li>
						{% endfor %}
						<li class="newarea"><label><input type="radio" name="area" value="new">Create new:</label> <input type="text" name="newAreaTitle"></li>
					</ul>
					<input type="submit" value="Save">
				</form>
			</div>
		{% endif %}
		
		
		{% if medias %}
			<ul class="mediaGrid">
				{% for media in medias %}
					<li><a href="/media/{{ media.slug }}" onclick="showMediaPopup({{ media.slug }}); return false;"><img src="/media/{{ media.slug }}/thumbnail"></a></li>	
				{% endfor %}
			</ul>
			<div class="afterMediaGrid"></div>
		{% endif %}
	
	</div>
		
		
{% endblock %}


{% block innerContentRight %}

	{% include '/site/eventListFilterParams.html.twig' %}

	<ul class="events">
		{% for event in events %}
			{% include '/site/common/eventListing.html.twig' with {'event':event, 'showCurrentUserOptions':true}  %}
		{% else %}
			<li>
				No events found.
			</li>		
		{% endfor %}
	</ul>

{% endblock %}


{% block scriptsForState %}
	{% include '/site/common/mediasJavaScriptInformation.html.twig' with { medias:medias } %}
	{{ parent() }}
{% endblock %}		
		
{% block scripts %}
	<script src="/js/eventFilterParams.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
	<script type="text/javascript">
		{% if venue.lat is not null and venue.lng is not null %}
			var mapData = { lat: {{ venue.lat }}, lng: {{ venue.lng }} }
		{% else %}
			var mapData = { lat: null, lng:null }
		{% endif %}
	</script>
	{% include 'site/common/mapLibrary.js.html.twig' %}
	<script type="text/javascript" src="/js/venueshow.js?v={{ config.assetsVersion }}"></script>
	<script type="text/javascript" src="/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
	<script src="/js/mediaPopup.js?v={{ config.assetsVersion }}" type="text/javascript"></script>	
{% endblock %}




