{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2013-2014, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'index/page.html.twig' %}


{% block pageTitle %}Discover - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/discover" />
{% endblock %}
	
{% block content %}


	<p>Discover some of the calendars we host. An administrator of a calendar can choose whether it appears on this page.</p>

	<ul class="sites">
		{% for site in sites %}
			<li class="site">
				<a href="{{ config.getWebSiteDomainSecure(site.slug) }}" class="title">
					<span class="logoWrapper"><img src="{{ config.getWebSiteDomainSecure(site.slug) }}/getLogo.php?v={{ site.logoCacheKey }}" alt="logo"></span>
					<span class="titleWrapper">{{ site.title }}</span>
				</a>
				<p class="description">{{ site.descriptionText | nl2br }}</p>
				<a href="{{ config.getWebSiteDomainSecure(site.slug) }}" class="link">
					View
				</a>
			</li>
		{% endfor %}
	</ul>




{% endblock %}


